@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

text { font-family: 'Source Sans Pro', sans-serif; font-size: 15px;
      -webkit-font-smoothing: antialiased; }

svg { border: 1px solid rgba(217,217,217,1); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;  }

/*rect { fill: rgba(41,185,136,.6); transition: all .4s; }*/

rect:hover { fill: rgba(41,185,136,1); }