@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

.node {
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 13px;
  font-weight: bold;
  fill: #cccccc;
  transition: all .4s;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.node.person1 {
  fill: #29b988;
}

.node.person2 {
  fill: #2781bb;
}

.node:hover {
  fill: #000;
}

.link {
  stroke: #6a7d90;
  /*stroke-opacity: .4;*/
  fill: none;
  transition: all .4s;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  font-weight: 700;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

/*.link--source,
.link--target {
  stroke: #96b7d9;
  stroke-width: 1.8px;
}*/

.link-good {
  stroke: #96b7d9;
  stroke-width: 1.3px;
}

.link-bad {
  stroke-opacity: 0.1;
}

.link--target {
  stroke: #2ca02c;
}