/* @group Master */
/* @group Imports */
@import 'reset';
@import 'icons';
@import 'slider';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic);

/* @end of Imports */
$base-font-size: 16px;
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em; }
$font-stack: 'Source Sans Pro', sans-serif;
$font-stack-serif: 'chaparral-pro', serif;
$primary-color: #333;
$black: #1b1f22;
@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  	 -moz-box-sizing: $sizing;
          box-sizing: $sizing; }


/* @group General */
body {
	font: 100% $font-stack;
	color: $primary-color;
	background: #ffffff; 
	-webkit-font-smoothing: antialiased; }
button { outline: none; cursor: pointer; border: 0; background: transparent; }
button, input, textarea, select { font: 100% $font-stack; outline: none; }
svg { overflow: visible; }

.all-caps {
	color: #96b7d9;
	text-transform: uppercase;
	font-size: em(15px);
	line-height: em(40px, 15px);
	font-weight: 600;
	letter-spacing: 0.2em;
}
.default-icon {
	i {
		color: #39b188;
		font-size: em(17px, 25px);
		line-height: em(17px, 40px);
		margin-right: 5px;
		position: relative;
		top: -1px;
	}
	
	color: $black;
	font-size: em(25px);
	line-height: em(25px, 40px);
	font-weight: 700;
	margin-bottom: 10px;
	&.white { color: white; }
}
p.standard {
	font-size: em(19px);
	font-family: $font-stack-serif;
	line-height: em(30px, 19px);
}
.button {

	display: inline-block; font-size: em(15px);
	line-height: em(50px, 15px);
	text-transform: uppercase;
	padding: 0 40px;
	color: #fff; text-decoration: none;
	font-weight: 600;
	letter-spacing: 0.2em;
	border-radius: 25px;
	transition: background 0.3s ease-out;
	&.green { border: 1px solid #39b188; background: #39b188;

		&:hover {  border: 1px solid #38a080; background: #38a080; }
		&.merci {
			border: 1px solid #39b188; background: transparent;
			color: #39b188;
			&:hover { border: 1px solid #39b188; background: transparent; }
		}
	}
	&.white { 
		border: 1px solid #fff; margin-right: 15px; 
		background: rgba(139, 170, 202, 0);
		&:hover { background: rgba(139, 170, 202, 0.35); }
	}

}

/* @end of General*/

/* @group of Grid */
.clear { clear: both; }
.wrapper { width: 100%; height: 100%; overflow-x: hidden; }

.grid {
	width: 1020px;
	margin: 0 auto;
	overflow-y: hidden;
	.unit {
		@include box-sizing(border-box);
		float: left;
		vertical-align: top;
		width: 50%;
		&.quarter { width: 25%; }
		&.left { padding-right: 30px; }
		&.right { padding-left: 30px; }
			// &:first-child > div { float: right; }
			// &:nth-child(2) > div { float: left; }
	}

}

/* @end of Grid */


/* @group Sidebar */
section#sidebar {
	position: fixed;
	width: 80px;
	height: 100%;
	z-index: 200;
	background: $black; 
	text-align: center;


	nav#nav {
		margin: 30px auto; 
		ul li {
			margin: 30px auto; 
		}
		i {
			font-size: em(21px);
		}
		.mediadata { font-size: em(30px); font-weight: 700; }
		a { 
			color: #454a4d; text-decoration: none; 
			transition: color 0.3s ease-out;
			&.active { color: #fff; }
			&:hover { color: #fff; }
		}
		
	}
	nav#nav-infos {
		position: absolute;
		bottom: 25px; 
		margin: auto;
		left: 0; right: 0;
		ul li {
			margin: 30px auto 0; 
		}
		i {
			font-size: em(28px);
			&.icon-mail {
				font-size: em(22px);
			}
		}
		a { 
			color: #454a4d; text-decoration: none; 
			transition: color 0.3s ease-out;
			&.active { color: #fff; }
			&:hover { color: #fff; }
		}
	}
}
/* @end of Sidebar */

section#main-loader {
	background: #fff;
	width: 100%; height: 100%;
	position: fixed;
	top: 0; left: 0;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	&.visible { opacity: 1; }
	&.debut { z-index: 500; opacity: 1; }
	&.z-index { z-index: 100; }
	div {
		width: 30px;
		height: 20px;
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		margin: auto;
		span.circle {
			display: block;
			width: 20px; height: 20px;
			border-radius: 100%;
			position: absolute;
			left: 0;
			top: 0;
			// transition: left 0.1s ease-in-out;
			&.green { background: #2781bb; opacity: 0.8; -webkit-animation: spin1 1.5s ease-in-out infinite; }
			&.blue { background: #29b988; opacity: 0.8; -webkit-animation: spin2 1.5s ease-in-out infinite; }
		}
	}
}

@-webkit-keyframes spin1 {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes spin2 {
  0% {
    left: 100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/* @group Search-bar */
header#search-bar {
	position: fixed;
	left: 80px;
	min-width: 1020px;
	border: 1px solid transparent;
	border-bottom: 1px solid #d4d4d4;
	// top: 0; left: 250px;
	background: #fff;
	width: 100%; height: 54px;
	z-index: 200;
	// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	display: none;
	top: -54px;
	transition: top 0.3s ease-out;
	&.visible { display: block; top: 0; }
	.grid {
		overflow: visible;
		section.unit { 
			display: none;
			
			&.visible { 
				width: 80%; display: block; 
				div.name {
					border-right: 1px solid #d9d9d9;
				} 
			}
		}
		section#compare.unit { width: 20%; display: block; }
		
	}

	/* @group  Loader */



	section#loader {
		z-index: 500;
		display: block;
		position: absolute;
		overflow-x: hidden;
		width: 100%; height: 3px;
		left: -1px; top: -1px;
		div.loader { 
			width: 0%; height: 3px;
			transition: width 0s ease-out;
			position: absolute;
			&.loading {
				width: 60%;
				transition: width 5s ease-out;
			}
			&.complete { 
				width: 100%;
				transition: width 0.3s ease-out;
			}

			&.topic1 {
				background: #29b988;
				left: 0; top: 0;
				box-shadow: 0 1px 3px rgba(41, 185, 136, 0.35);
			}
			&.topic2 {
				background: #2781bb;
				top: 0;
				left: 50%;
				box-shadow: 0 1px 3px rgba(39, 129, 187, 0.35);
			}
		}
	}/* @end of Loader */




	&.search {
		section.unit { 
			display: none; 

			&.visible { 
				width: 100%; display: block;
				div.name {
					border-right: 0;
					button.delete { display: none; }
					form.search {
						input {
							width: 800px;
						}
					}
					button.edit { opacity: 1; z-index: 100; color: $black;
						i { color: #3498db; }
				 	}
				} 
			}
		}
		section#loader { display: none; }
		section#compare.unit { width: 20%; display: none; }
	}
	&.comparison {

		section#loader {
			div.loader {
				&.loading{ width: 30%; }
				&.complete { width: 50%; }
			}
				
		}
	
		.grid {
			section.unit { 
				display: block; 
				&.visible { width: 50%; }
				&:nth-child(2) div.name { border-right: 0; }
			}
			section#compare.unit { display: none; }
		}

		
		
	}

	div.name {
		width: 100%; height: 100%;
		text-align: center;
		position: relative;
		z-index: 10; 
		font-size: em(20px);
		font-weight: 700;
		color: $black;
		line-height: em(54px, 20px);
		@include box-sizing(border-box);
		&:hover > button.edit {
			opacity: 1; z-index: 100;
		}
		div.img {
			width: 40px; height: 40px;
			border-radius: 100%;
			overflow: hidden;
			position: relative;
			display: inline-block;
			margin: 0 em(10px) em(-10px) 0;
			img {
				width: 100%; height: auto;
				position: absolute;
				margin: auto;
				left: 0; right: 0; top: 0; bottom: 0;
			}
		}
		span.role { font-weight: 400; color: #acb8c0; }
		button.delete {
			position: absolute;
			// z-index: -10;
			// display: none;
			display: block; z-index: 200;
			width: 60px; height: 100%;
			top: 0; right: 0;
			background: white; 
			i { color: #ccc; font-size: em(10px); }
			&:hover i { color: $black; }
		}

		button.edit {
			width: 100%; height: 100%;
			position: absolute;
			top: 0; left: 0;
			border-right: 1px solid transparent;
			background: white;
			border: 0;
			opacity: 0;
			z-index: -10;
			font-size: em(19px, 20px);
			color: #ccc;
			transition: all ease-out 0.3s;
			&:hover { 
				color: $black;
				i { color: #3498db; }
			}
			i { 
				margin-right: 10px; 
				font-size: em(19px, 19px); 
				color: #ccc;
				transition: color ease-out 0.3s; }
		}
		span.is-search { 
			color: $black;
			font-size: em(19px, 20px);
			font-weight: 500;
			i { margin-right: 10px; font-size: em(19px, 19px); color: #3498db; } 
		}
		
		form.search {
			width: 100%; height: 100%;
			position: absolute;
			top: 0; left: 0;
			background: white;
			border: 0;
			opacity: 0;
			z-index: -10;
			text-align: left;
			&.visible { 
				opacity: 1; z-index: 200;
				ul.topics { display: block; }
			}
			input { 
				// width: 100%; height: 100%;
				border: 0;
				font-weight: 700;
				color: $black;
				width: 320px;
				display: inline-block;
				&::-webkit-input-placeholder { color: #acb8c0; font-weight: normal; } 
								 &::-moz-placeholder { color: #acb8c0; font-weight: normal; } 
						 &:-ms-input-placeholder { color: #acb8c0; font-weight: normal; } 
									&:-moz-placeholder { color: #acb8c0; font-weight: normal; } 
			}
			label {
				padding: 0 em(10px, 20px) 0 em(30px, 20px);
				font-weight: 400;
				color: $black;
				float: left;
				i { 
				margin-right: 10px; 
				font-size: em(19px, 19px); 
				color: #3498db; }
			}
			ul.topics {
				display: none;
				top: 54px;
				position: absolute;
				background: #fff;
				width: 100%;
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
				li {
					padding: em(10px, 20px) em(34px, 20px);
					height: 62px;
					@include box-sizing(border-box);
					line-height: em(40px, 20px);
					background: transparent;
					transition: background ease-out 0.3s;
					
					// &:first-child { border-top: 1px solid #d9d9d9; }
					&:hover, &.active {
						background: #f5f5f5;
						cursor: pointer;
					}
					span {
						font-weight: normal;
						color: #acb8c0;
					}
					div.img {
						width: 40px; height: 40px;
						border-radius: 100%;
						overflow: hidden;
						position: relative;
						display: inline-block;
						// margin: 0 em(10px) em(-10px) 0;
						img {
							width: 100%; height: auto;
							position: absolute;
							margin: auto;
							left: 0; right: 0; top: 0; bottom: 0;
						}
					}
				}
			}
		}
	} /* h1.person */
	button.compare {
		width: 100%; height: 100%;
		font-size: em(19px);
		line-height: em(50px, 19px);
		color: #ccc;
		transition: color ease-out 0.3s;

		&:hover {
			color: $black;
			i { color: #3498db; }
		}
		// &.visible { display: block; }
		i { 
			margin-right: 10px; 
			font-size: em(20px, 19px); 
			color: #ccc;
			transition: color ease-out 0.3s; }

	}
} /* header#search-bar */
/* @end of Searchbar */

section#main {
	width: 100%;
	left: 80px;
	position: relative;
	background: #fff;
	// left: 250px; top: 0;
	article.person, article.comparison {
		padding: 54px 0 100px;
		background: #fff url(../images/bg--footer.png) repeat-x bottom;
		header.header {
			background: #2c3e50;
			// 
			padding: 54px 0;
			// > div.sm-wrapper { width: 620px; margin: 0 auto; }
			.sm-unit { margin: 0 auto; width: 620px; }
			h1.name {
				font-weight: 700;
				color: #fff;
				text-transform: uppercase;
				font-size: em(17px);
				line-height: em(24px, 17px);
				&:first-letter {
					font-size: em(90px, 17px);
					float: left;
					line-height: em(18px, 24px);
					padding: 0 10px 0 0;
				}
			}
			p.desc {
				font-weight: 300;
				font-size: em(17px);
				line-height: em(24px, 17px);
				color: #96b7d9;
			}
			ul {
				margin-top: 40px; 
				li {
					display: inline-block;
					color: #96b7d9;
					font-weight: 300;
					font-style: italic;
					font-size: em(15px);
					line-height: em(24px, 15px);
					&:first-letter { text-transform: uppercase; }
					i { 
						color: #fff; 
						display: inline-block;
						font-style: normal; 
						font-size: em(17px, 15px); 
						margin-right: 5px;
					}
				}
			}
		}

		section#filters {
			border-top: 1px solid #d4d4d4;
			border-bottom: 1px solid #d4d4d4;
			width: 100%;
			background: #fff;
			&.fixed { 
				border-top: 0; position: fixed; top: 54px; z-index: 50; 
				ul {
					height: 60px;
				}
			}
			ul {
				height: 80px;
				// transition: height 0.3s ease-out;

				li {
					position: relative;
					top: 50%;
					overflow: hidden;
					-webkit-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
									transform: translateY(-50%); 


					&.period {
						> div {
							width: 62%;
							position: relative;
							left: 19%;
						}
					}
				}
			}
			label {
				font-size: em(15px);
				color: #6a7d90;
				font-weight: 700;
			}
			select {
				display: block;
				-webkit-appearance: none;
				// font-family: $font-stack-serif;
				font-size: em(19px);
				border: 0;
				padding-right: 40px;
				background: transparent url(../images/i--arrow-down--grey.png) no-repeat center right;
				font-weight: 700;
				color: $black;
				transition: background 0.3s ease-out;
				&:hover {
					background: transparent url(../images/i--arrow-down--black.png) no-repeat center right;

				}
			}


			.irs-from, .irs-to, .irs-single {
				// font-family: $font-stack-serif;
				font-weight: 700;
				color: $black;
				font-size: em(19px);
			}



		}

		// div.wrapper { width: 80%; margin: 0 auto; }
		section#filters.fixed + div.grid { padding-top: 80px; }
		section {

			h2 {
				width: 420px;
				margin: 58px 30px 0 30px;
				font-weight: 700;
				color: $black;
				line-height: em(40px, 25px);
				font-size: em(25px);
			}
			h2 + p {
				width: 420px;
				margin: 0 30px 40px 30px;
				font-family: $font-stack-serif;
				color: #6a7d90;
				font-size: em(19px);
				line-height: em(30px, 19px);
			}
		}

		footer.social {
			text-align: center;
			margin: 80px 0 0;
			padding: 80px 0;
			border-top: 1px solid #d4d4d4;
			h3 + p {
				font-family: $font-stack-serif;
				font-size: em(19px);
				line-height: em(30px, 19px);
				color: #6a7d90;
				width: 450px; 
				margin: 0 auto 40px;
			}
			.button {
				margin: 0 10px;
				border: 1px solid #ccc;
				color: #cccccc;
				background: transparent;
				transition: all 0.3s ease-out;
				
				i { font-size: em(20px); margin-right: 15px; }
			}
			&:hover {
				.button {
					&.tw {
						background: #5ea9dd;
						border-color: #5ea9dd;
						color: #fff;
						i { color: #fff; }
					}
					&.fb {
						border-color: #3b579d;
						background: #3b579d;
						color: #fff;
						i { color: #fff; }

					}
				}
				
			}
		}
	} /* article */
	article.comparison {
		header.header {
			background: linear-gradient(to right,  #2c3e50 0%,#2c3e50 50%,#34495e 50%,#34495e 100%);
		}
	}
	article.home {
		padding: 0;
		h1 {
			color: #fff;
			font-size: em(70px);
			font-weight: 700;
			margin-bottom: 10px; }



		header.introduction {
			height: 100vh;
			background: #34495e; /* Old browsers */
			background: -moz-linear-gradient(top, #34495e 0%, #2c3e50 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34495e), color-stop(100%,#2c3e50)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* IE10+ */
			background: linear-gradient(to bottom, #34495e 0%,#2c3e50 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#2c3e50',GradientType=0 ); /* IE6-9 */
			overflow: hidden;
			position: relative;
			video {
				width: 130%; height: auto;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				opacity: 0.1;
				z-index: 5;
				-webkit-filter: grayscale(50%);
			}
			div.grid {
				position: relative;
				z-index: 10;
				top: 50%;
				padding: 0 30px;
				-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%); }
			p {
				width: 540px;
				font-size: em(19px);
				line-height: em(30px, 19px);
				font-family: $font-stack-serif;
				color: #fff;
				margin-bottom: 40px; }

			ul li { display: inline-block; }	
		} /* header.introduction */



		section.tutorial {
			padding: 130px 0;
			background: #fff;
			div.explorer { margin-bottom: 130px; }
			div.img { 
				width: 480px; height: 290px; overflow: hidden; position: relative;
				img {
					position: absolute;
					top: 0; left: 0;
					opacity: 0;
					transition: opacity 0.3s ease-out;
					&.visible { opacity: 1; }
				}
			}
			div.library { text-align: right; }
			h3.default-icon {
				margin-top: 50px;
				margin-bottom: 10px;
			}
			p {
				font-size: em(19px);
				line-height: em(30px, 19px);
				color: #6a7d90;
				font-family: $font-stack-serif;
			}
			ul {
				margin-top: 50px;
				li {
					display: inline-block;
					width: 40px; height: 40px;
					border: 1px solid #d9d9d9;
					border-radius: 3px;
					margin-right: 10px;
					text-align: center;
					font-size: em(20px);
					line-height: em(40px, 20px);
					color: #cccccc;
					font-weight: 700;
					transition: color 0.3s ease-out;
					&:hover {
						cursor: pointer;
						color: $black;
					}
					&.visible {
						color: #2781bb;
					}
				}
			} /* ul */
		} /* section.tutorial */
		footer.start {
			// text-align: center;
			// background: #304356;
			// padding-top: 80px;
			// overflow: hidden;
			// p {
			// 	color: white;
			// 	font-size: em(19px);
			// 	line-height: em(30px, 19px);
			// 	font-family: $font-stack-serif;
			// 	width: 465px;
			// 	margin: 0 auto 35px;

			// 	&.scroll {
			// 		margin: 110px auto 35px;
			// 		color: #96b7d9;
			// 		font-style: italic;
			// 	}
			// }

			padding: 100px 0;
			margin: 100px 0 0;
			text-align: center;
			background: #34495e; /* Old browsers */

			background: url(../images/bg--footer-img.png) no-repeat right bottom, -moz-linear-gradient(top, #34495e 0%, #2c3e50 100%); /* FF3.6+ */
			background: url(../images/bg--footer-img.png) no-repeat right bottom, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34495e), color-stop(100%,#2c3e50)); /* Chrome,Safari4+ */
			background: url(../images/bg--footer-img.png) no-repeat right bottom, -webkit-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* Chrome10+,Safari5.1+ */
			background: url(../images/bg--footer-img.png) no-repeat right bottom, -o-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* Opera 11.10+ */
			background: url(../images/bg--footer-img.png) no-repeat right bottom, -ms-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* IE10+ */
			background: url(../images/bg--footer-img.png) no-repeat right bottom, linear-gradient(to bottom, #34495e 0%,#2c3e50 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#2c3e50',GradientType=0 ); /* IE6-9 */
			background-size: 70%, 100%;
			.button { margin: 30px 0 0; }
			p { color: #fff; }

		}
	} /* article.home */
} /* section#main */

article.search {
	padding-top: 54px;
	h1.default-icon {
		margin-top: 110px;
		margin-left: 30px;
		margin-bottom: 10px;
	}
	h1 + p {
		font-size: em(19px);
		line-height: em(30px, 19px);
		color: #6a7d90;
		width: 450px;
		margin-left: 30px;
		font-family: $font-stack-serif;
	}
	ul {
		margin-top: 25px;
		overflow: hidden;
		li {
			border-radius: 4px;
			overflow: hidden;
			width: 180px;
			float: left;
			margin-right: 30px;
			margin-bottom: 30px;
			&.no-margin {
				margin-right: 0;
			}
			a { 
				display: block; width: 180px; overflow: hidden; text-decoration: none; opacity: 1; transition: opacity 0.3s ease-out;
				&:hover { opacity: 0.7; }
			}
			img {
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}
			div {
				text-align: center;
				border-radius: 4px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border: 1px solid #d9d9d9;
				padding: 15px 0;
				border-top: 0;
				position: relative;
				top: -4px;
				h4 {
					color: $black;
					font-weight: 700;
					font-size: em(15px);
					margin-bottom: 5px;
				}
				p {
					color: #acb8c0;
					font-size: em(15px);
				}
			}
		}
	}

}

article.about, article.contact {
	div.grid {
		width: 720px;
	}
	header { margin-top: 150px; margin-bottom: 110px; }
	h1 {
		font-weight: 700;
		color: $black;
		font-size: em(70px);
		line-height: em(40px, 70px);
		text-align: center;
		margin-bottom: 25px;

	}
	h2.all-caps {
		text-align: center; } 

	h2 + p {
		color: #6a7d90;
		font-family: $font-stack-serif;
		font-size: em(19px);
		line-height: em(30px, 19px);
		width: 455px;
		text-align: center;
		margin: 0 auto;
		a {
			color: #96b7d9;
		}
	}

	section {
		h3 {
			color: $black;
			font-weight: 700;
			font-size: em(25px);
			line-height: em(40px, 25px);
			margin-top: 50px;
		}
		p {
			font-family: $font-stack-serif;
			font-size: em(19px);
			line-height: em(30px, 19px);
			color: #6a7d90;
			margin-bottom: 30px;
			&.big {
				margin-top: 50px;
				color: $black;
				font-size: em(40px);
				line-height: em(50px, 40px);
			}
			a {
				color: #96b7d9;
				text-decoration: underline;
			}
		}
		div.example {
			border-left: 5px solid #96b7d9;
			padding: 15px 40px;
			margin-bottom: 60px;
			h4 {
				color: #96b7d9;
				font-family: $font-stack-serif;
				font-style: italic;
				font-size: em(19px);
				line-height: em(30px, 19px);
			}
			a {
				font-size: em(18px);
				line-height: em(40px, 18px);
				font-weight: 700;
				color: $black;
				text-decoration: none;
				span { color: #acb8c0; font-weight: 500;}
				div.img {
					width: 40px; height: 40px;
					border-radius: 100%;
					overflow: hidden;
					position: relative;
					display: inline-block;
					margin: 0 em(10px) em(-10px) 0;
					img {
						width: 100%; height: auto;
						position: absolute;
						margin: auto;
						left: 0; right: 0; top: 0; bottom: 0;
					}

				}
			}
		}

	}

	form {
		overflow: hidden;
		// text-align: center;
		margin-bottom: 120px;
		text-align: right;
		div.unit {
			border: 1px solid #d4d4d4;
			// height: 50px;
			padding: 25px 15px 15px;
			@include box-sizing(border-box);
			position: relative;
			overflow: hidden;
			width: 100%;
			margin: 10px 0;
			height: 200px;
			text-align: left;

			&.half { 
				height: 60px;
				padding: 25px 15px 0;
				width: 350px; float: left;
				&:first-of-type { margin-right: 20px; }
			}
			label {
				font-weight: 600;
				font-size: em(12px);
				line-height: em(20px, 12px);
				text-transform: uppercase;
				letter-spacing: 0.2em;
				color: #acb8c0;
				position: absolute;
				top: 10px; left: 15px; }

			input, textarea {
				resize: none;
				width: 100%;
				border: 0;
				display: block;
				height: 25px;
				font-size: em(15px);
				color: $black;
				font-weight: 700;
				background: transparent; }

			::-webkit-input-placeholder { font-style: italic; font-weight: 500; }

			:-moz-placeholder { font-style: italic; font-weight: 500; }

			::-moz-placeholder { font-style: italic; font-weight: 500; }

			:-ms-input-placeholder { font-style: italic; font-weight: 500; }
			textarea { height: 160px; }
			.button { 
				margin: 10px 0; 
				
			}
		}
		
	}
	section.team {
		h2 {
			font-size: em(40px);
			line-height: em(40px, 40px);
			color: $black;
			text-align: center;
			font-weight: 700;
			margin-bottom: 50px;
		}
		ul li {
			float: left;
			width: 240px;
			min-height: 230px;
			text-align: center;
			img {
				border-radius: 100%;
			}
			h3 {
				font-size: em(18px);
				line-height: em(20px, 18px);
				font-weight: 700;
				margin-top: 10px;
				margin-bottom: 10px;
				span {
					font-weight: 600;
					text-transform: uppercase;
					display: block;
					font-size: em(12px, 18px);
					color: #acb8c0;
					letter-spacing: 0.2em;
					line-height: em(20px, 12px);
				}
			}
			a {
				color: #c8d8ea;
				text-decoration: none;
				margin: 20px 2px;
				i { font-size: em(20px); }
			}
		}
	}
	footer.launch {
		padding: 100px 0;
		margin: 100px 0 0;
		text-align: center;
		background: #34495e; /* Old browsers */

		background: url(../images/bg--footer-img.png) no-repeat right bottom, -moz-linear-gradient(top, #34495e 0%, #2c3e50 100%); /* FF3.6+ */
		background: url(../images/bg--footer-img.png) no-repeat right bottom, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34495e), color-stop(100%,#2c3e50)); /* Chrome,Safari4+ */
		background: url(../images/bg--footer-img.png) no-repeat right bottom, -webkit-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* Chrome10+,Safari5.1+ */
		background: url(../images/bg--footer-img.png) no-repeat right bottom, -o-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* Opera 11.10+ */
		background: url(../images/bg--footer-img.png) no-repeat right bottom, -ms-linear-gradient(top, #34495e 0%,#2c3e50 100%); /* IE10+ */
		background: url(../images/bg--footer-img.png) no-repeat right bottom, linear-gradient(to bottom, #34495e 0%,#2c3e50 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#2c3e50',GradientType=0 ); /* IE6-9 */
		background-size: 70%, 100%;
		.button { margin: 30px 0 0; }
		p { color: #fff; }
	}
}


article.index {
	header.introduction {
		background: #33485d;
		div.grid { padding: 60px 30px; }
		
		
		p {
			color: #fff;
			font-family: $font-stack-serif;
			font-size: em(19px);
			line-height: em(30px, 19px);
			width: 450px;
		}


	}

	nav.alphabet {
		width: 100%;
		height: 54px;
		border-bottom: 1px solid #d4d4d4;
		background: #fff;

		&.fixed { position: fixed; top: 0; z-index: 50; }
		ul {
			float: right;
			height: 54px;
			li {
				font-size: em(15px);
				color: #cccccc;
				font-weight: 700;
				margin-left: 10px;
				display: inline-block;
				position: relative;
				top: 50%;
				overflow: hidden;
				-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%); 
				transition: color 0.3s ease-out;
				&:hover {
					cursor: pointer;
					color: $black;
				}
				&.active { color: #3498db; }
			}
		}
	}
	nav.alphabet.fixed + section { padding-top: 54px; }
	section {
		margin-top: 30px;
		h3.letter {
			position: relative;
			color: #ccc;
			text-transform: uppercase;
			font-size: em(18px);
			margin: 0 35px; 
			font-weight: 700;
			&:before {
				display: block;
				content: '';
				width: 25px;
				left: -35px;
				top: 50%;
				position: absolute;
				border-bottom: 1px solid #e6e6e6;
			}
			&:after {
				display: block;
				content: '';
				width: 965px;
				left: 20px;
				top: 50%;
				border-bottom: 1px solid #e6e6e6;
				position: absolute;
			}
		}
		ul {
			margin-top: 25px;
			overflow: hidden;
			li {
				border-radius: 4px;
				overflow: hidden;
				width: 180px;
				border: 1px solid #d9d9d9;
				box-sizing: border-box;
				height: 234px;
				float: left;
				margin-right: 30px;
				margin-bottom: 30px;
				position: relative;
				&.no-margin {
					margin-right: 0;
				}
				a { 
					display: block; width: 180px; text-decoration: none; opacity: 1; transition: opacity 0.3s ease-out;
					&:hover { opacity: 0.7; }
				}
				img {
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}
				div {
					text-align: center;
					border-radius: 4px;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					
					padding: 15px 0;
					border-top: 0;
					position: absolute;
					bottom: 0px;
					left: 0;
					right: 0;
					h4 {
						color: $black;
						font-weight: 700;
						font-size: em(15px);
						margin-bottom: 5px;
					}
					p {
						color: #acb8c0;
						font-size: em(15px);
					}
				}
			}
		}
	}
}


section#main {
	article.comparison {
		header.header {
			.sm-unit { margin: 0 auto; width: 100%; max-width: 448px; padding: 0 5%; @include box-sizing(border-box); }		
		}
	}
}/* section#main */


/* @group of Modules */
section.module {
	width: 100%;
	margin: 0 0 50px 0;
	@include box-sizing(border-box);
	&.timeline {
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		overflow: hidden;
		div.no-data {
			background: #f5f5f5;
			height: 350px;
			display: block;
			position: relative;
			width: 100%;
			p {
				position: relative;
				top: 50%;
				margin: 0 auto;
				text-align: center;
				overflow: hidden;
				-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%); 
				color: #cccccc;
				font-size: em(15px);
				font-weight: 700;
				i {
					font-size: em(30px, 15px);
					position: relative;
					top: 5px;
					left: -3px;
				}
			}
		}
		h3 {
			float: left;
			margin: 30px 0 30px 30px;
			font-size: em(15px);
			font-weight: 700;
			&:first-of-type {
				color: #29b988;
			}
			&:last-of-type {
				color: #2781bb;
			}
			span {
				display: block;
				color: $black;
				font-size: em(20px, 15px);
				font-family: $font-stack-serif;
			}
		}

		h4 {
			display: inline;
			margin-left: 30px;
			line-height: 36px;
			color: $black;
			font-size: em(15px);
			font-weight: 700;
			&:before {
				content: '';
				display: inline-block;
				position: relative;
				top: 1px;
				margin-right: 10px;
				border-radius: 50%;
				width: 12px;
				height: 12px;
			}
			&:first-of-type:before {
				background-color: #29b988;
			}
			&:last-of-type:before {
				background-color: #2781bb;
			}
		}

		#filter {
			position: relative;
			float: right;
			margin-top: 33px;
			margin-right: 64px;

			ul {
				display: inline-block;
				position: relative;
				width: 190px;
				border: 1px solid #d9d9d9;
				font-family: $font-stack;
				font-weight: 700;
				color: #6a7d90;
				text-align: center;
				cursor: pointer;
				@include box-sizing(border-box);
			}

			& > ul {
				color: #6a7d90;
				height: 37px;
				overflow: hidden;
				font-size: em(14px);

				&.active {
					overflow: visible;
				}

				ul {
					position: absolute;
					color: #d9d9d9;
					top: 35px;
					left: -1px;
					box-shadow: 0px 0px 0px rgba(1,1,1,0.05), -1px 1px 1px rgba(1,1,1,0.05), 1px 2px 2px rgba(1,1,1,0.05)
				}
			}

			li {
				position: relative;
				height: 37px;
				line-height: 37px;
				background-color: #fff;
				&:hover {
					color: #6a7d90;
				}
			}

			li:not(:last-child) {
				border-bottom: 1px solid #d9d9d9;
			}

			.arrow {
				display: inline-block;
				width: 33px;
				height: 37px;
				border: 1px solid #d9d9d9;
				position: relative;
				left: -4px;
				@include box-sizing(border-box);

				&.disabled {
					span {
						border-color: #d9d9d9;
					}
				}
				&.enabled {
					cursor: pointer;
					span {
						border-color: #6a7d90;
					}
				}
				&.prev {
					position: absolute;
					left: -32px;
					span {
						float:left;
						width: 8px;
						height: 8px;
						border-style: solid;
						border-width: 2px 2px 0 0;
						-webkit-transform: rotate(-135deg);
						-moz-transform: rotate(-135deg);
						-ms-transform: rotate(-135deg);
						-o-transform: rotate(-135deg);
						transform: rotate(-135deg);
						margin: 14px 0 0 13px;
						@include box-sizing(border-box);
				   }
				}
				&.next {
					position: absolute;
					top: 0;
					left: 189px;

					span {
						float:left;
					  width: 8px;
					  height: 8px;
					  border-style: solid;
					  border-width: 2px 2px 0 0;
					  -webkit-transform: rotate(45deg);
					  -moz-transform: rotate(45deg);
					  -ms-transform: rotate(45deg);
					  -o-transform: rotate(45deg);
					  transform: rotate(45deg);
					  margin: 14px 0 0 10px;
						@include box-sizing(border-box);
				   }
				}
			}
		}

		hr {
			display: inline-block;
			border: 0;
			width: 100%;
			height: 1px;
			background: #d9d9d9;
		}

		g {
			&:hover circle.dot { opacity: 1; }
		}

		.axis {
			path,line {
			  fill: none;
			  stroke: #d9d9d9;
			  stroke-width: 1;
			  shape-rendering: crispEdges;
			}
			text {
			  fill: #d9d9d9;
			  font-family: 'Chaparral Pro';
			  font-size: 15px;
			  font-weight: 600;
			  -webkit-font-smoothing: antialiased;
			}
		}

		path { 
			fill: none;
			stroke-width: 2;
			&.line1 { stroke: #29A87D; }
			&.line2 { stroke: #2980B9; }
			&.area1 { fill: rgba(46,181,135,0.5); stroke-width: 0; opacity: 0}
			&.area2 { fill: rgba(48,147,203,0.5); stroke-width: 0; opacity: 0}
		}

		circle, { 
			cursor: pointer;
			opacity: 0; fill: #fff; stroke-width: 2; 
		  transition: opacity .25s ease-in-out;
		  -moz-transition: opacity .25s ease-in-out;
		  -webkit-transition: opacity .25s ease-in-out;
			&.dot1 { stroke: #2EB587; }
			&.dot2 { stroke: #3192CA; }
		}

		.grid {
			path { stroke-width: 0; }
			.tick { stroke: #d9d9d9; }
		}
	}

	&.x-with-y {
		ul {
			li {
				border-radius: 4px;
				overflow: hidden;
				width: 180px;
				float: left;
				margin-right: 30px;
				margin-bottom: 30px;
				&.no-margin {
					margin-right: 0;
				}
				a { 
					border-radius: 4px;
					display: block; width: 180px; overflow: hidden; text-decoration: none; opacity: 1; transition: opacity 0.3s ease-out;
					&:hover { opacity: 0.7; }
				}
				img {
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
				}
				div {
					// text-align: center;
					position: relative;
					border-radius: 4px;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border: 1px solid #d9d9d9;
					padding: 15px 0 15px 55px;
					border-top: 0;
					position: relative;
					top: -4px;
					span.number {
						display: block;
						text-align: center;
						width: 55px;
						position: absolute;
						left: 0;
						font-family: $font-stack-serif;
						font-size: em(24px);
						color: $black;
						line-height: em(40px, 24px);
						font-weight: 700;
					}
					h4 {
						color: $black;
						font-weight: 700;
						font-size: em(15px);
						margin-bottom: 5px;
					}
					p {
						color: #acb8c0;
						font-size: em(15px);
					}
				}
			}
		}

	}
	&.top-5 {
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		overflow: hidden;
		height: 475px;
		&.person2 {
			section {
				ol {
					li {
						div.gauge {
							span { background-color: #2781bb; }
						}
					}
				}
			}
		}

		span.value {
			font: em(25px) $font-stack-serif;
			font-weight: 700;
		}

		section {
			display: none;
			height: 100%;
			position: relative;
			display: block;
			div.no-data {
				background: #f5f5f5;
				height: 100%;
				position: absolute;
				width: 100%;
				p {
					position: relative;
					top: 50%;
					margin: 0 auto;
					text-align: center;
					overflow: hidden;
					-webkit-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
									transform: translateY(-50%); 
					color: #cccccc;
					font-size: em(15px);
					font-weight: 700;
					i {
						font-size: em(30px, 15px);
						position: relative;
						top: 5px;
					}
				}
			}
			div.header {
				display: block;
				height: 93px;
				border-bottom: 1px solid #d9d9d9;
				padding-left: 29px;
				.header-wrap {
					padding-top: em(21px)
				}
				span {
					display: block;
					&.value {
						color: $black;
					}
					&.name {
						font: em(15px) $font-stack; -webkit-font-smoothing: antialiased; color: #6a7d90; font-weight: 600;
					}
				}
			}
			ol {
				counter-reset: li-counter;
				li {
					display: block; 
					position: relative;
					padding: em(9px) em(30px);
					overflow: hidden;
					border-bottom: 1px solid #d9d9d9;
					&:last-child { border-bottom: 0; }
					&:before {
						position: absolute;
						display: block;
						width: em(30px, 20px);
						text-align: center;
						left: 0; top: 50%;
	  				-webkit-transform: translateY(-50%);
	  						-ms-transform: translateY(-50%);
	  								transform: translateY(-50%);
						font-size: em(20px);
						font-weight: 300;
						content: counter(li-counter)".";
						counter-increment: li-counter;
						color: #cccccc; }

					img { float: left; margin-right: em(12px); }
					h3 {
						margin-top: em(5px, 15px);
						font-size: em(15px);
						width: 80%;
						color: #6a7d90;
						font-weight: 700; }
					span.total {
						margin-top: em(6px, 15px);
						color: #ccc;
						font-family: $font-stack-serif;
						font-size: em(15px);
						font-weight: 700;
						float: right; }
					div.gauge {
						position: absolute;
						right: em(15px); top: em(38px);
						margin: 10px 0;
						width: 300px; height: 9px;
						border-radius: 20px;
						background-color: #f5f5f5; 
						span {
							display: block;
							height: 100%; width: 0;
							position: relative;
							background-color: #29b988;
							border-radius: 20px;
							transition: width 0.3s ease-out;
							&.width { transition: none; }
						}
					}
				}
			}
		}
		 
	}

	&.clock {
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		height: 475px;
		overflow: hidden;
		svg {
			padding: 29px;
		}
		div.no-data {
			background: #f5f5f5;
			height: 100%;
			display: block;
			position: relative;
			width: 100%;
			p {
				position: relative;
				top: 50%;
				margin: 0 auto;
				text-align: center;
				overflow: hidden;
				-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%); 
				color: #cccccc;
				font-size: em(15px);
				font-weight: 700;
				i {
					font-size: em(30px, 15px);
					position: relative;
					top: 5px;
					left: -3px;
				}
			}
		}
		text { 
			font: em(15px) $font-stack; -webkit-font-smoothing: antialiased;
			&.time {
				fill: #6a7d90; font-weight: 600; }
			&.value {
				font-family: $font-stack-serif; color: $black; font-weight: 700; }
		}
		path {
			fill: #2eb587; stroke-width: 0; opacity: 0.5; transition: all 0.3s ease-out; cursor: pointer;
			&:hover { 
				opacity: 1; }
		}
		&.person1 path {
			fill: #2eb587;
		}
		&.person2 path {
			fill: #2781bb;
		}
		#mainlabel {
			position: relative;
			left: -25px;
			text {
				text-anchor: left;
				&.value {
					color: $black;
					font-size: em(25px);
				}
			}
		}
		#filter { 
			position: relative; left: 69px; top: -23px;
		}
		#letters {
			position: relative; left: 285px; top: -29px; fill: #d9d9d9;
			text {
				font-size: em(13px); font-weight: 400; cursor: pointer;
			}
		}
		#clockchart {
			margin-top: -20px;
		}
		.center text, .labels text { 
			text-anchor: middle; }
		.center .value {
			color: $black;
			font-size: em(20px);
		}
		.labels text { 
			fill: #ccc; font-weight: 700; }
		.circle { 
			fill: none; stroke: #cccccc; stroke-width: 1px; }
		.bar { 
			transition: all 0.3s ease-out; cursor: pointer; fill: #d9d9d9;
			&.selected, &.hovered { 
				fill: #29b988; }
			&:hover { 
				fill: #29b988; }
		}
		.dayletter {
			&.selected, &.hovered { 
				fill: #29b988; }
			&:hover { 
				fill: #29b988; }
		}
		&.person1 .dayletter {
			&.selected, &.hovered { 
				fill: #29b988; }
			&:hover { 
				fill: #29b988; }
		}
		&.person2 .dayletter {
			&.selected, &.hovered { 
				fill: #2781bb; }
			&:hover { 
				fill: #2781bb; }
		}
		&.person1 .bar {
			fill: #d9d9d9;
			&.selected, &.hovered { 
				fill: #29b988; }
			&:hover { 
				fill: #29b988; }
		}
		&.person2 .bar {
			fill: #d9d9d9;
			&.selected, &.hovered { 
				fill: #2781bb; }
			&:hover { 
				fill: #2781bb; }
		}
	}
	&.bar, &.stacked{
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		overflow: hidden;
		div.no-data {
			background: #f5f5f5;
			height: 650px;
			display: block;
			position: relative;
			width: 100%;
			p {
				position: relative;
				top: 50%;
				margin: 0 auto;
				text-align: center;
				overflow: hidden;
				-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%); 
				color: #cccccc;
				font-size: em(15px);
				font-weight: 700;
				i {
					font-size: em(30px, 15px);
					position: relative;
					top: 5px;
					left: -3px;
				}
			}
		}
		h3 {
			float: left;
			margin: 30px 0 30px 30px;
			font-size: em(15px);
			font-weight: 700;
			color: #29b988;
			span {
				display: block;
				color: $black;
				font-size: em(20px, 15px);
				font-family: $font-stack-serif;
			}
		}
		h4 {
			display: inline;
			margin-left: 30px;
			line-height: 36px;
			color: $black;
			font-size: em(15px);
			font-weight: 700;
			&:before {
				content: '';
				display: inline-block;
				position: relative;
				top: 1px;
				margin-right: 10px;
				border-radius: 50%;
				width: 12px;
				height: 12px;
				background-color: #29b988;
			}
		}
		hr {
			display: inline-block;
			border: 0;
			width: 100%;
			height: 1px;
			background: #d9d9d9;
		}
		.tick { 
			stroke: #d9d9d9; 
		}
		rect{
			transition: all .4s;
			&.tooltip {
				fill: rgba(255,255,255,1);
				opacity: 0; 
				transition: all .4s;
			}
			&.shadow {
				fill: rgba(0,0,0,.15);
			}
		}
		text{
			font-family: $font-stack; 
			font-size: em(15px);
	      	-webkit-font-smoothing: antialiased; 
	      	&.name{
	      		fill: #6a7d90;
	      		font-size: 13px;
	      		font-weight: 600;
	      	}
	      	&.count{
	      		font-family: $font-stack-serif;
	      		fill: #1c1f21;
	      	}
	      	&.tooltip {
				opacity: 0; 
				transition: all .4s;
			}
		}
	}
	&.bar{
		g{
			rect{
				&.bar {
					fill: rgba(41,185,136,.6);
				}
			}
			&:hover{
				rect.bar { 
					fill: rgba(41,185,136,1);
				}
				.tooltip { 
					opacity: 1;
				}
			}
		}
	}
	&.stacked{
		h3 {
			&:first-of-type {
				color: #29b988;
			}
			&:last-of-type {
				color: #2781bb;
			}
		}

		h4 {
			&:first-of-type:before {
				background-color: #29b988;
			}
			&:last-of-type:before {
				background-color: #2781bb;
			}
		}
		g{
			&.person1 {
				rect.stacked-rect {
					fill: rgba(41,185,136,.5);
					&:hover{
						fill: rgba(41,185,136,1);
					}
				}
				g{
					&:hover{
						text.tooltip{
							opacity: 1; 
						}
						rect{
							&.tooltip{
								opacity: 1;
							}

						}
					}
				}
			}
			&.person2 {
				rect.stacked-rect {
					fill: rgba(39,129,187,.5);
					&:hover{
						fill: rgba(39,129,187,1);
					}
				}
				g{
					&:hover{
						text.tooltip{
							opacity: 1; 
						}
						rect{
							&.tooltip{
								opacity: 1;
							}

						}
					}
				}
			}
		}
	}
}

/* @end of Modules */




/* @Fallback Mobile */
div#mobile{
	display: none;
	color: #34495e;
	h2{
		font-weight: 700;
		color: $black;
		font-size: em(70px);
		position: absolute;
		margin: auto;
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
		height: 90px;
		text-align: center;
	}
}

@media screen and (max-width: 640px) {
	div#mobile{
		display: block;
	}
	div.wrapper {
		display: none;
	}
}
/* @end Fallback */

/* @end of Master */


