/* @group Master */
/* @group Imports */
@import 'reset';
@import 'icons';
@import 'slider';
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic);

/* @end of Imports */
$base-font-size: 16px;
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em; }
$font-stack: 'Source Sans Pro', sans-serif;
$font-stack-serif: 'chaparral-pro', serif;
$primary-color: #333;
$black: #1b1f22;
@mixin box-sizing($sizing) {
  -webkit-box-sizing: $sizing;
  	 -moz-box-sizing: $sizing;
          box-sizing: $sizing; }


/* @group General */
body {
	font: 100% $font-stack;
	color: $primary-color;
	background: #ffffff; 
	-webkit-font-smoothing: antialiased; }
button { outline: none; cursor: pointer; border: 0; background: transparent; }
button, input, textarea, select { font: 100% $font-stack; outline: none; }

/* @end of General*/

/* @group of Grid */
.clear { clear: both; }
.wrapper { width: 100%; height: 100%; overflow-x: hidden; }

.grid {
	width: 1020px;
	margin: 0 auto;
	overflow-y: hidden;
	.unit {
		@include box-sizing(border-box);
		float: left;
		vertical-align: top;
		width: 50%;
		&.quarter { width: 25%; }
		&.left { padding-right: 30px; }
		&.right { padding-left: 30px; }
			// &:first-child > div { float: right; }
			// &:nth-child(2) > div { float: left; }
	}

}

/* @end of Grid */


/* @group Sidebar */
section#sidebar {
	position: fixed;
	width: 80px;
	height: 100%;
	z-index: 200;
	background: #1b1f22; 
	text-align: center;


	nav#nav {
		margin: 70px auto; 
		ul li {
			margin: 30px auto; 
		}
		i {
			font-size: em(21px);
		}
		a { 
			color: #454a4d; text-decoration: none; 
			transition: color 0.3s ease-out;
			
			&:hover { color: #fff; }
		}
		
	}
	nav#nav-infos {
		position: absolute;
		bottom: 25px; 
		margin: auto;
		left: 0; right: 0;
		i {
			font-size: em(28px);
		}
		a { 
			color: #454a4d; text-decoration: none; 
			transition: color 0.3s ease-out;
			&:hover { color: #fff; }
		}
	}
}
/* @end of Sidebar */

section#main-loader {
	background: #fff;
	width: 100%; height: 100%;
	position: fixed;
	top: 0; left: 0;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	&.visible { opacity: 1; }
	&.debut { z-index: 500; opacity: 1; }
	&.z-index {
		z-index: 100;
	}
	div {
		width: 30px;
		height: 20px;
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		margin: auto;
		span.circle {
			display: block;
			width: 20px; height: 20px;
			border-radius: 100%;
			position: absolute;
			left: 0;
			top: 0;
			// transition: left 0.1s ease-in-out;
			&.green { background: #2781bb; opacity: 0.8; -webkit-animation: spin1 1.5s ease-in-out infinite; }
			&.blue { background: #29b988; opacity: 0.8; -webkit-animation: spin2 1.5s ease-in-out infinite; }
		}
	}


	
}

@-webkit-keyframes spin1 {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes spin2 {
  0% {
    left: 100%;
  }
  50% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

/* @group Search-bar */
header#search-bar {
	position: fixed;
	left: 80px;
	min-width: 1020px;
	border: 1px solid transparent;
	border-bottom: 1px solid #d4d4d4;
	// top: 0; left: 250px;
	background: #fff;
	width: 100%; height: 54px;
	z-index: 200;
	// box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	display: none;
	top: -54px;
	transition: top 0.3s ease-out;
	&.visible { display: block; top: 0; }
	.grid {
		overflow: visible;
		section.unit { 
			display: none;
			
			&.visible { 
				width: 80%; display: block; 
				div.name {
					border-right: 1px solid #d9d9d9;
				} 
			}
		}
		section#compare.unit { width: 20%; display: block; }
	}

	/* @group  Loader */



	section#loader {
		z-index: 500;
		position: absolute;
		overflow-x: hidden;
		width: 100%; height: 3px;
		left: -1px; top: -1px;
		div.loader { 
			float: left; 
			width: 100%; height: 3px;
			-webkit-transform: translate3d(-100%, 0, 0);
							transform: translate3d(-100%, 0, 0);
			// -webkit-transition: -webkit-transform 0s ease-in;
			// 				transition: transform 0s ease-in;
			&.loading {
				-webkit-transition: -webkit-transform 5s ease-in;
								transition: transform 5s ease-in;
				-webkit-transform: translate3d(-40%, 0, 0);
								transform: translate3d(-40%, 0, 0);
			}
			&.complete { 
				-webkit-transition: -webkit-transform 0.3s ease-in;
								transition: transform 0.3s ease-in;
				-webkit-transform: translate3d(0%, 0, 0);
								transform: translate3d(0%, 0, 0);
			}

			&.topic1 {
				background: #29b988;
				box-shadow: 0 1px 3px rgba(41, 185, 136, 0.35);
			}
			&.topic2 {
				background: #2781bb;
				box-shadow: 0 1px 3px rgba(39, 129, 187, 0.35);
			}
		}
	}/* @end of Loader */




	&.search {
		section.unit { 
			display: none; 

			&.visible { 
				width: 100%; display: block;
				div.name {
					border-right: 0;
					button.delete { display: none; }
					form.search {
						input {
							width: 800px;
						}
					}
				} 
			}
		}

		section#compare.unit { width: 20%; display: none; }
	}
	&.comparison {
		.grid {
			section.unit { 
				display: block; 
				&.visible { width: 50%; }
				&:nth-child(2) div.name { border-right: 0; }
			}
			section#compare.unit { display: none; }
		}

		section#loader {
			div.loader { 
				width: 50%; 
				-webkit-transform: translate3d(-200%, 0, 0);
								transform: translate3d(-200%, 0, 0);

			}
		}
		
	}
	// div.wrapper { width: 90%; margin: 0 auto; }
	div.name {
		// position: absolute;
		// top: 0; left: 0;
		width: 100%; height: 100%;
		text-align: center;
		position: relative;
		z-index: 10; 
		font-size: em(20px);
		font-weight: 700;
		color: #1c1f21;
		line-height: em(54px, 20px);
		@include box-sizing(border-box);

		// &.person { 
		// 	width: 80%;

		// &.visible { display: block; }
		// 	&.half { 
		// 		width: 50%;
		// 		button.delete { display: block; z-index: 200; }
		// 	}

		// }
		// &.other-person { left: 50%; border-right: 0; }
		&:hover > button.edit {
			opacity: 1; z-index: 100;
		}
		div.img {
			width: 40px; height: 40px;
			border-radius: 100%;
			overflow: hidden;
			position: relative;
			display: inline-block;
			margin: 0 em(10px) em(-10px) 0;
			img {
				width: 100%; height: auto;
				position: absolute;
				margin: auto;
				left: 0; right: 0; top: 0; bottom: 0;
			}
		}
		span.role { font-weight: 400; color: #acb8c0; }
		button.delete {
			position: absolute;
			// z-index: -10;
			// display: none;
			display: block; z-index: 200;
			width: 60px; height: 100%;
			top: 0; right: 0;
			background: white; 
			i { color: #ccc; font-size: em(10px); }
			&:hover i { color: #1c1f21; }
		}

		button.edit {
			width: 100%; height: 100%;
			position: absolute;
			top: 0; left: 0;
			border-right: 1px solid transparent;
			background: white;
			border: 0;
			opacity: 0;
			z-index: -10;
			font-size: em(19px, 20px);
			color: #ccc;
			transition: all ease-out 0.3s;
			&:hover { 
				color: #1c1f21;
				i { color: #3498db; }
			}
			i { 
				margin-right: 10px; 
				font-size: em(19px, 19px); 
				color: #ccc;
				transition: color ease-out 0.3s; }
		}
		
		form.search {
			width: 100%; height: 100%;
			position: absolute;
			top: 0; left: 0;
			background: white;
			border: 0;
			opacity: 0;
			z-index: -10;
			text-align: left;
			&.visible { 
				opacity: 1; z-index: 200;
				ul.topics { display: block; }
			}
			input { 
				// width: 100%; height: 100%;
				border: 0;
				font-weight: 700;
				color: #1c1f21;
				width: 320px;
				display: inline-block;
				&::-webkit-input-placeholder { color: #acb8c0; font-weight: normal; } 
								 &::-moz-placeholder { color: #acb8c0; font-weight: normal; } 
						 &:-ms-input-placeholder { color: #acb8c0; font-weight: normal; } 
									&:-moz-placeholder { color: #acb8c0; font-weight: normal; } 
			}
			label {
				padding: 0 em(10px, 20px) 0 em(30px, 20px);
				font-weight: 400;
				color: #1c1f21;
				float: left;
				i { 
				margin-right: 10px; 
				font-size: em(19px, 19px); 
				color: #3498db; }
			}
			ul.topics {
				display: none;
				top: 54px;
				position: absolute;
				background: #fff;
				width: 100%;
				box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
				li {
					padding: em(10px, 20px) em(34px, 20px);
					height: 62px;
					@include box-sizing(border-box);
					line-height: em(40px, 20px);
					background: transparent;
					transition: background ease-out 0.3s;
					
					// &:first-child { border-top: 1px solid #d9d9d9; }
					&:hover, &.active {
						background: #f5f5f5;
						cursor: pointer;
					}
					span {
						font-weight: normal;
						color: #acb8c0;
					}
					div.img {
						width: 40px; height: 40px;
						border-radius: 100%;
						overflow: hidden;
						position: relative;
						display: inline-block;
						// margin: 0 em(10px) em(-10px) 0;
						img {
							width: 100%; height: auto;
							position: absolute;
							margin: auto;
							left: 0; right: 0; top: 0; bottom: 0;
						}
					}
				}
			}
		}
	} /* h1.person */
	button.compare {
		width: 100%; height: 100%;
		// position: absolute;
		// top: 0; left: 80%;
		// display: none;
		font-size: em(19px);
		line-height: em(50px, 19px);
		color: #ccc;
		transition: color ease-out 0.3s;

		&:hover {
			color: #1c1f21;
			i { color: #3498db; }
		}
		// &.visible { display: block; }
		i { 
			margin-right: 10px; 
			font-size: em(20px, 19px); 
			color: #ccc;
			transition: color ease-out 0.3s; }

	}
} /* header#search-bar */
/* @end of Searchbar */

section#main {
	width: 100%;
	left: 80px;
	position: relative;
	background: #fff;
	// left: 250px; top: 0;
	article.person, article.comparison {
		padding: 54px 0 100px;
		background: #fff url(../images/bg--footer.png) repeat-x bottom;
		header.header {
			background: #2c3e50;
			// background: linear-gradient(to right,  #2c3e50 0%,#2c3e50 50%,#34495e 50%,#34495e 100%);
			padding: 54px 0;
			// > div.sm-wrapper { width: 620px; margin: 0 auto; }
			.sm-unit { margin: 0 auto; width: 620px; }
			h1.name {
				font-weight: 700;
				color: #fff;
				text-transform: uppercase;
				font-size: em(17px);
				line-height: em(24px, 17px);
				&:first-letter {
					font-size: em(90px, 17px);
					float: left;
					line-height: em(18px, 24px);
					padding: 0 10px 0 0;
				}
			}
			p.desc {
				font-weight: 300;
				font-size: em(17px);
				line-height: em(24px, 17px);
				color: #96b7d9;
			}
			ul {
				margin-top: 40px; 
				li {
					display: inline-block;
					color: #96b7d9;
					font-weight: 300;
					font-style: italic;
					font-size: em(15px);
					line-height: em(24px, 15px);
					&:first-letter { text-transform: uppercase; }
					i { 
						color: #fff; 
						display: inline-block;
						font-style: normal; 
						font-size: em(17px, 15px); 
						margin-right: 5px;
					}
				}
			}
		}

		section#filters {
			border-top: 1px solid #d4d4d4;
			border-bottom: 1px solid #d4d4d4;
			width: 100%;
			background: #fff;
			&.fixed { 
				border-top: 0; position: fixed; top: 54px; z-index: 50; 
				ul {
					height: 60px;
				}
			}
			ul {
				height: 80px;
				// transition: height 0.3s ease-out;

				li {
					position: relative;
					top: 50%;
					overflow: hidden;
					-webkit-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
									transform: translateY(-50%); 


					&.period {
						> div {
							width: 62%;
							position: relative;
							left: 19%;
						}
					}
				}
			}
			label {
				font-size: em(15px);
				color: #6a7d90;
				font-weight: bold;
			}
			select {
				display: block;
				-webkit-appearance: none;
				// font-family: $font-stack-serif;
				font-size: em(19px);
				border: 0;
				padding-right: 40px;
				background: transparent url(../images/i--arrow-down--grey.png) no-repeat center right;
				font-weight: bold;
				color: #1c1f21;
				transition: background 0.3s ease-out;
				&:hover {
					background: transparent url(../images/i--arrow-down--black.png) no-repeat center right;

				}
			}


			.irs-from, .irs-to, .irs-single {
				// font-family: $font-stack-serif;
				font-weight: bold;
				color: #1c1f21;
				font-size: em(19px);
			}



		}

		// div.wrapper { width: 80%; margin: 0 auto; }
		section#filters.fixed + div.grid { padding-top: 80px; }
		section {

			h2 {
				width: 420px;
				margin: 58px 30px 0 30px;
				font-weight: 700;
				color: #1c1f21;
				line-height: em(40px, 25px);
				font-size: em(25px);
			}
			h2 + p {
				width: 420px;
				margin: 0 30px 40px 30px;
				font-family: $font-stack-serif;
				color: #6a7d90;
				font-size: em(19px);
				line-height: em(30px, 19px);
			}
		}
	} /* article */

	article.home {
		padding: 0;
		h1 {
			color: #fff;
			font-size: em(70px);
			font-weight: 700;
			margin-bottom: 10px; }
		h2 {
			color: #96b7d9;
			text-transform: uppercase;
			font-size: em(15px);
			line-height: em(40px, 15px);
			font-weight: 600;
			letter-spacing: 0.2em; } 

		a.discover, a.launch {
			display: inline-block; font-size: em(15px);
			line-height: em(50px, 15px);
			text-transform: uppercase;
			padding: 0 40px;
			color: #fff; text-decoration: none;
			font-weight: 600;
			letter-spacing: 0.2em;
			border-radius: 25px;
			transition: background 0.3s ease-out;
		}

		a.discover { 
			border: 1px solid #fff; margin-right: 15px; 
			background: rgba(139, 170, 202, 0);
			&:hover { background: rgba(139, 170, 202, 0.35); }
		}

		a.launch { border: 1px solid #39b188; background: #39b188;
			&:hover {  border: 1px solid #38a080; background: #38a080; }
		}

		header.introduction {
			height: 100vh;
			background: #33485d;
			div.grid {
				position: relative;
				top: 50%;
				padding: 0 30px;
				-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%); }
			p {
				width: 540px;
				font-size: em(19px);
				line-height: em(30px, 19px);
				font-family: $font-stack-serif;
				color: #fff;
				margin-bottom: 40px; }

			ul li { display: inline-block; }	
		} /* header.introduction */



		section.tutorial {
			padding: 130px 0;
			background: #fff;
			div.explorer { margin-bottom: 130px; }
			div.library { text-align: right; }
			h3 {
				i {
					color: #39b188;
					font-size: em(17px, 25px);
					line-height: em(17px, 40px);
					margin-right: 5px;
					position: relative;
					top: -1px;
				}
				margin-top: 50px;
				color: #1c1f21;
				font-size: em(25px);
				line-height: em(25px, 40px);
				font-weight: 700;
				margin-bottom: 10px;
			}
			p {
				font-size: em(19px);
				line-height: em(30px, 19px);
				color: #6a7d90;
				font-family: $font-stack-serif;
			}
			ul {
				margin-top: 50px;
				li {
					display: inline-block;
					width: 40px; height: 40px;
					border: 1px solid #d9d9d9;
					border-radius: 3px;
					margin-right: 10px;
					text-align: center;
					font-size: em(20px);
					line-height: em(40px, 20px);
					color: #cccccc;
					font-weight: 700;
					transition: color 0.3s ease-out;
					&:hover {
						cursor: pointer;
						color: #2781bb;
					}
				}
			} /* ul */
		} /* section.tutorial */
		footer.start {
			text-align: center;
			background: #304356;
			padding-top: 80px;
			overflow: hidden;
			p {
				color: white;
				font-size: em(19px);
				line-height: em(30px, 19px);
				font-family: $font-stack-serif;
				width: 465px;
				margin: 0 auto 35px;

				&.scroll {
					margin: 110px auto 35px;
					color: #96b7d9;
					font-style: italic;
				}
			}

		}
	} /* article.home */
} /* section#main */

article.index {


	header.introduction {
		background: #33485d;
		div.grid { padding: 60px 30px; }
		h1 {
			color: #fff;
			font-size: em(25px);
			font-weight: bold;
			i {
				color: #39b188;
				font-size: em(17px, 25px);
				line-height: em(17px, 40px);
				margin-right: 5px;
				position: relative;
				top: -1px;
			}
		}
		h2 {
			color: #96b7d9;
			text-transform: uppercase;
			font-size: em(15px);
			line-height: em(40px, 15px);
			font-weight: 600;
			letter-spacing: 0.2em; } 
		p {
			color: #fff;
			font-family: $font-stack-serif;
			font-size: em(19px);
			line-height: em(30px, 19px);
			width: 450px;
		}

	}

	nav.alphabet {
		width: 100%;
		height: 54px;
		border-bottom: 1px solid #d4d4d4;
		background: #fff;

		&.fixed { position: fixed; top: 0; z-index: 50; }
		ul {
			float: right;
			height: 54px;
			li {
				font-size: em(15px);
				color: #cccccc;
				font-weight: bold;
				margin-left: 10px;
				display: inline-block;
				position: relative;
				top: 50%;
				overflow: hidden;
				-webkit-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
								transform: translateY(-50%); 
				transition: color 0.3s ease-out;
				&:hover {
					cursor: pointer;
					color: #1c1f21;
				}
			}
		}
	}
	nav.alphabet.fixed + section { padding-top: 54px; }
	section {
		margin-top: 30px;
		h3.letter {
			position: relative;
			color: #ccc;
			text-transform: uppercase;
			font-size: em(18px);
			margin: 0 35px; 
			font-weight: bold;
			&:before {
				display: block;
				content: '';
				width: 25px;
				left: -35px;
				top: 50%;
				position: absolute;
				border-bottom: 1px solid #e6e6e6;
			}
			&:after {
				display: block;
				content: '';
				width: 965px;
				left: 20px;
				top: 50%;
				border-bottom: 1px solid #e6e6e6;
				position: absolute;
			}
		}
		ul {
			margin-top: 25px;
			overflow: hidden;
			li {
				border-radius: 4px;
				overflow: hidden;
				width: 180px;
				float: left;
				margin-right: 30px;
				margin-bottom: 30px;
				&.no-margin {
					margin-right: 0;
				}
				a { 
					display: block; width: 180px; overflow: hidden; text-decoration: none; opacity: 1; transition: opacity 0.3s ease-out;
					&:hover { opacity: 0.7; }
				}
				div {
					text-align: center;
					border-radius: 4px;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border: 1px solid #d9d9d9;
					padding: 15px 0;
					border-top: 0;
					h4 {
						color: #1c1f21;
						font-weight: bold;
						font-size: em(15px);
						margin-bottom: 5px;
					}
					p {
						color: #acb8c0;
						font-size: em(15px);
					}
				}
			}
		}
	}
}


section#main {
	article.comparison {
		header.header {
			.sm-unit { margin: 0 auto; width: 100%; max-width: 448px; padding: 0 5%; @include box-sizing(border-box); }		
		}
	}
}/* section#main */


/* @group of Modules */
section.module {
	width: 100%;
	margin: 0 0 50px 0;
	@include box-sizing(border-box);
	&.timeline {
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		overflow: hidden;

		h3 {
			margin: 35px 30px;
			color: #29b988;
			font-size: em(15px);
			font-weight: 700;
			span {
				display: block;
				color: #1c1f21;
				font-size: em(20px, 15px);
				font-family: $font-stack-serif;
			}
		}

	}

	&.x-with-y {
		ul {
			li {
				border-radius: 4px;
				overflow: hidden;
				width: 180px;
				float: left;
				margin-right: 30px;
				margin-bottom: 30px;
				&.no-margin {
					margin-right: 0;
				}
				a { 
					border-radius: 4px;
					display: block; width: 180px; overflow: hidden; text-decoration: none; opacity: 1; transition: opacity 0.3s ease-out;
					&:hover { opacity: 0.7; }
				}

				div {
					// text-align: center;
					position: relative;
					border-radius: 4px;
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border: 1px solid #d9d9d9;
					padding: 15px 0 15px 55px;
					border-top: 0;
					span.number {
						display: block;
						text-align: center;
						width: 55px;
						position: absolute;
						left: 0;
						font-family: $font-stack-serif;
						font-size: em(24px);
						color: #1c1f21;
						line-height: em(40px, 24px);
						font-weight: bold;
					}
					h4 {
						color: #1c1f21;
						font-weight: bold;
						font-size: em(15px);
						margin-bottom: 5px;
					}
					p {
						color: #acb8c0;
						font-size: em(15px);
					}
				}
			}
		}

	}
	&.top-5 {
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		overflow: hidden;
		min-height: 458px;
		&.person2 {
			section {
				ol {
					li {
						div.gauge {
							span { background-color: #2781bb; }
						}
					}
				}
			}
		}
		nav.tabs {
			overflow: hidden;
			ul li {
				cursor: pointer;
				float: left;
				width: 50%;
				@include box-sizing(border-box);
				padding: em(20px, 17px);
				font-size: em(17px);
				font-weight: 700;
				text-transform: uppercase;
				background-color: #f5f5f5; color: #ccc;
				text-align: center;
				border-bottom: 1px solid #d9d9d9;
				&.active { background-color: #fff; color: #1c1f21; }
				&:nth-child(2) { border-left: 1px solid #d9d9d9; }
			}
		}

		section {
			display: none;
			min-height: 395px;
			position: relative;
			&.visible {
				display: block;
			}
			div.no-data {
				background: #f5f5f5;
				height: 100%;
				position: absolute;
				width: 100%;
				p {
					position: relative;
					top: 50%;
					margin: 0 auto;
					text-align: center;
					overflow: hidden;
					-webkit-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
									transform: translateY(-50%); 
					color: #cccccc;
					font-size: em(15px);
					font-weight: bold;
					i {
						font-size: em(30px, 15px);
						position: relative;
						top: 5px;
					}
				}
			}
			ol {
				counter-reset: li-counter;
				li {
					display: block; 
					position: relative;
					padding: em(12px) em(30px);
					overflow: hidden;
					border-bottom: 1px solid #d9d9d9;
					&:last-child { border-bottom: 0; }
					&:before {
						position: absolute;
						display: block;
						width: em(30px, 20px);
						text-align: center;
						left: 0; top: 50%;
	  				-webkit-transform: translateY(-50%);
	  						-ms-transform: translateY(-50%);
	  								transform: translateY(-50%);
						font-size: em(20px);
						font-weight: 300;
						content: counter(li-counter)".";
						counter-increment: li-counter;
						color: #cccccc; }

					img { float: left; margin-right: em(12px); }
					h3 {
						margin-top: em(6px, 15px);
						font-size: em(15px);
						width: 80%;
						color: #6a7d90;
						font-weight: 700; }
					span.value {
						font-family: $font-stack-serif;
						color: #111;
						font-size: em(25px);
						font-weight: 700; }
					span.total {
						margin-top: em(6px, 15px);
						color: #ccc;
						font-family: $font-stack-serif;
						font-size: em(15px);
						font-weight: 700;
						float: right; }
					div.gauge {
						position: absolute;
						right: em(30px); top: em(38px);
						margin: 10px 0;
						width: 300px; height: 9px;
						border-radius: 20px;
						background-color: #f5f5f5; 
						span {
							display: block;
							height: 100%; width: 0;
							position: relative;
							background-color: #29b988;
							border-radius: 20px;
							transition: width 0.3s ease-out;
							&.width { transition: none; }
						}
					}
				}
			}
		}
		 
	}

	&.clock {
		border: 1px solid #d9d9d9;
		border-radius: 5px;
		min-height: 458px;
		overflow: hidden;
		padding: 29px 0 20px 59px;
		text { 
			font: em(15px) $font-stack; -webkit-font-smoothing: antialiased;
			&.time {
				fill: #6a7d90; font-weight: 600; }
			&.value {
				font-family: $font-stack-serif; color: #111; font-weight: bold; }
		}
		path {
			fill: #2eb587; stroke-width: 0; opacity: 0.5; transition: all 0.3s ease-out; cursor: pointer;
			&:hover { 
				opacity: 1; }
		}
		&.person1 path {
			fill: #2eb587;
		}
		&.person2 path {
			fill: #2781bb;
		}
		#mainlabel {
			position: relative;
			left: -25px;
			text {
				text-anchor: left;
				&.value {
					font-size: em(25px);
				}
			}
		}
		#filter { 
			position: relative; left: 50px; top: -10px }
		#clockchart {
			margin-top: 15px;
		}
		.center text, .labels text { 
			text-anchor: middle; }
		.center .value {
			font-size: em(20px)
		}
		.labels text { 
			fill: #ccc; font-weight: 700; }
		.circle { 
			fill: none; stroke: #cccccc; stroke-width: 1px; }
		.bar { 
			transition: all 0.3s ease-out; cursor: pointer;
			fill: #d9d9d9;
			&.selected { 
				fill: #29b988; }
			&:hover { 
				fill: #29b988; }
		}
		&.person1 .bar {
			fill: #d9d9d9;
			&.selected { 
				fill: #29b988; }
			&:hover { 
				fill: #29b988; }
		}
		&.person2 .bar {
			fill: #d9d9d9;
			&.selected { 
				fill: #2781bb; }
			&:hover { 
				fill: #2781bb; }
		}
	}
}


/* @end of Modules */

/* @end of Master */


