<h3><span></span> Mentions totales</h3>
<!-- <h3><span>?</span> Mentions totales</h3> -->

<div class="test"></div>
<div id="filter">
	<div class="arrow prev disabled"><span></span></div>
	<ul>
		<li data-value="">Toutes les mentions</li>
		<ul>
			<li></li>
		</ul>
	</ul>
	<div class="arrow next disabled"><span></span></div>
</div>

<hr>

<h4></h4>
<!-- <h4>?</h4> -->

<hr>

<!-- <button class="rescale" data-value="2004">2004</button>
<button class="rescale" data-value="2013">2013</button>
<button class="rescale" data-value="2014">2014</button>
<button class="rescale" data-value="">all</button> -->