<nav class="tabs">
  <ul>
    <li data-tab="channels">Chaines</li>
    <li class="active" data-tab="shows">Emissions</li>
  </ul>
</nav>
<section id="shows" class="visible">
  <% if(popularShows.length == 0) { %>
    <div class="no-data">
      <p><i class="icon-heart_broken"></i> Aucune donnée disponible</p>
    </div>
  <% } else { %>
  <ol>
    <% _.each(popularShows, function(show){ %>
    <li>
      <img src="<%= show.showPicture %>" />
      <!-- <span class="total"></span> -->
      <h3><% if(show.showName.length > 35) { print(show.showName.slice(0, 38) + '...') } else print(show.showName) %></h3>
      <span class="value"><%= show.showCount %></span>
      <div class="gauge">
        <span data-appearances="<%= show.showCount %>"></span>
      </div>
    </li>
    <% }) %>
  </ol>
  <% } %>
</section>
<section id="channels">
  <% if(popularChannels.length == 0) { %>
    <div class="no-data">
      <p><i class="icon-heart_broken"></i> Aucune donnée disponible</p>
    </div>
  <% } else { %>
  <ol>
    <% _.each(popularChannels, function(channel){ %>
    <li>
      <img src="<%= channel.channelPicture %>" />
      <!-- <span class="total"></span> -->
      <h3><% if(channel.channelName.length > 35) { print(channel.channelName.slice(0, 38) + '...') } else print(channel.channelName) %></h3>
      <span class="value"><%= channel.channelCount %></span>
      <div class="gauge">
        <span data-appearances="<%= channel.channelCount %>"></span>
      </div>
    </li>
    <% }) %>
  </ol>
  <% } %>
</section>