<nav class="tabs">
  <ul>
    <li data-tab="channels">Chaines</li>
    <li class="active" data-tab="shows">Emissions</li>
  </ul>
</nav>
<section id="shows" class="visible">
  <ol>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
  </ol>
</section>
<section id="channels">
  <ol>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3>Le Petit Journal</h3>
      <span class="value">50</span>
      <div class="gauge">
        <span data-appearances="50"></span>
      </div>
    </li>
  </ol>
</section>