<nav class="tabs">
  <ul>
    <li data-tab="channels">Chaines</li>
    <li class="active" data-tab="shows">Emissions</li>
  </ul>
</nav>
<section id="shows" class="visible">
  <ol>
    <% _.each(popularShows, function(show){ %>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3><%= show.showName %></h3>
      <span class="value"><%= show.showCount %></span>
      <div class="gauge">
        <span data-appearances="<%= show.showCount %>"></span>
      </div>
    </li>
    <% }) %>
  </ol>
</section>
<section id="channels">
  <ol>
    <% _.each(popularChannels, function(channel){ %>
    <li>
      <img src="images/show--grand-journal.jpg" />
      <span class="total"></span>
      <h3><%= channel.channelName %></h3>
      <span class="value"><%= channel.channelCount %></span>
      <div class="gauge">
        <span data-appearances="<%= channel.channelCount %>"></span>
      </div>
    </li>
    <% }) %>
  </ol>
</section>