<ul>
  <% _.each(persons, function(person, i){ %>
  <li <% if ((i+1)%5 == 0 && i != 0) { %> class="no-margin" <% } %>>
  	<a href="<%= person.personSlug %>" data-link="<%= person.personSlug %>">
   		<img src="<%= person.personPicture %>" alt="<%= person.personName %>" />
      <div>
      	<span class="number"><%= person.seenCount %></span>
        <h4><% if(person.personName.length > 13) { print(person.personName.slice(0, 13) + '...') } else { print(person.personName) } %></h4>
       	<p><%= person.personRole %></p>
      </div>
     </a>
  </li>
  <% }) %>
  
</ul>