<article class="about">
	<div class="grid">
		<header>
			<h1>MediaData</h1>
			<h2 class="all-caps">explorateur et comparateur d’exposition médiatique</h2>
			<p>MediaData est un projet réalisé en juin 2014 dans le cadre de la formation d’HETIC par 6 étudiants en 3e année.</p>
		</header>
		<section>
			<h3>D’où proviennent les données ?</h3>
			<p>Toutes les données utilisées sont extraites du catalogue du dépôt légal de l’Institut National de l’Audiovisuel (INA). Ce catalogue donne accès aux notices documentaires des programmes de radio et de télévision collectés par l'INA depuis 1995 dans le cadre du dépôt légal. Le dépôt légal est l’obligation légale faite aux producteurs et diffuseurs de documents (typiquement les chaînes de télévision et stations de radio) de les déposer auprès des organismes dépositaires, qui sont tenus de les conserver et de les signaler. L'organisme dépositaire du dépôt légal de la télévision et de la radio est l'INA.</p>
			<div class="example">
				<h4>Voir un exemple de données :</h4>
				<a target="_blank" href="http://inatheque.ina.fr/Ina/ws/dltv/dlweb/general/ResultSet?w=NATIVE%28%27ITOUSTEXT+ph+like+%27%27david+douillet%27%27%27%29&r=1&rpp=50&upp=0">
					<div class="img"><img src="http://static.mediadata.fr/search-pictures/david-douillet.jpg" /></div>David Douillet <span>(Mentions sur la télévision Hertzienne)</span>
				</a>
			</div>
			<h3>Comment les personnalités ont-elles été choisies?</h3>
			<p>Les personnalités politiques choisies ont pour la plupart fait partie soit du gouvernement Ayrault II, soit du gouvernement Fillon II ou III. Une liste de personnalités proposées par Europe 1 comme Personnalité de l’année 2013 <a href="http://www.europe1.fr/Radio/Communiques-de-presse/Articles/Europe-1-invite-a-designer-la-personnalite-de-l-annee-2013-1733793/" target="_blank">lors d’un sondage</a> a également été ajoutée. Enfin, des personnalités dont l’exposition médiatique était sujet à débat ont été ajoutées. La récupération des données d'une personnalité étant très chronophage et fastidieuse, nous avons dû faire des choix les plus divers et représentatifs possibles. N'hésitez pas à <a href="/contact">nous signaler</a> une ou plusieurs personnalité(s) que vous souhaiteriez voir intégrée(s).</p>
			<h3>Que signifient “mentions” et “participations” ?</h3>
			<h4 class="all-caps">Mentions</h4>
			<p>Une “mention” est comptabilisée lorsque la notice d’un programme télévisuel ou radiophonique fait référence à une personnalité ou à un terme donné. S’il s’agit d’une personnalité, une mention est comptabilisée que la personne ait participé à l’émission ou ait simplement été mentionnée de manière significative. Seules les personnalités ou les termes qui ont été le ou l’un des objets principaux du programme apparaissent dans les notices documentaires. La simple mention insignifiante d’une personnalité ou d’un terme au détour d’une phrase n’en fait pas l’objet principal d’un programme et ne suffit ainsi pas à l’inclure dans la notice documentaire.</p>
			<h4 class="all-caps">participations</h4>
			<p>Une “participation” est comptabilisée lorsque la notice d’un programme télévisuel ou radiophonique indique la participation active d’une personnalité à celui-ci. Par participation s’entend le consentement actif de la personne à prendre part au programme, quelque soit la forme de celui-ci : entretien, interview, micro-trottoir, duplex, plateau, jeu, message d’information…</p>
			<p>Attention : les participations (notamment de type invité plateau) ne sont pas toujours comptabilisées pour les journaux télévisés.</p>
			<h3>Quels sont les médias pour lesquels les notices sont collectées 
par l’INA ?</h3>
			<p>Les notices documentaires des programmes de la radio publique et de la télévision hertzienne sont collectées par l’INA depuis 1995. En 2002, le dépôt légal est étendu aux chaînes du câble et du satellite ainsi qu'aux radios privées, puis en 2005, à la télévision numérique terrestre. Depuis 2005, toutes les notices documentaires des grands médias sont collectées.</p>
			<h3>Y a-t-il des données manquantes dans votre base ?</h3>
			<p>Nous récupérons l’intégralité des données du catalogue du dépôt légal associées aux personnalités disponibles. Celui-ci est par nature complet (du fait de son caractère législatif). Néanmoins, si vous constatez l’omission d’un programme, sachez qu’il est possible que la personnalité concernée n’ait pas été inclue dans la notice documentaire de celui-ci, soit par erreur, soit parce que la personnalité en question ne constituait pas l’un des sujets ou des participants majeurs du programme. Nous attirons votre attention sur le fait que dans le cadre du filtre “participation seulement”, les notices de certains programmes (tels que les journaux télévisés) renseignent rarement leurs participants, notamment lorsqu’ils sont très nombreux et n’apparaissent qu’un très court instant. Ces programmes n’apparaissent alors pas dans le filtre “participation seulement”.</p>
			<p class="big">Notre outil permet avant tout de dégager des tendances fiables plutôt que des valeurs absolues.</p>
			<h3>Comment lire de manière avisée les données présentes sur votre outil ? Que garder en tête et quel esprit critique adopter ?</h3>
			<p>MediaData est un outil permettant avant tout de dégager des tendances fiables plutôt que des valeurs absolues. Si notre outil se base sur les données du catalogue du dépôt légal, fiable et complet par nature, celui-ci ne peut être exact à 100 %. Il est donc important de comprendre que des omissions légères peuvent exister.</p>
			<p>L’extension du dépôt légal à la totalité des médias de grande importance s’est faite de manière progressive. Ainsi, de 1995 à 2002, seules les six chaînes hertziennes et les radios publiques étaient concernées. De nombreuses chaînes du satellite ainsi que les principales radios privées ont été intégrées en 2002 et 2003. En 2005, ce sont les chaînes de la récente TNT qui ont été inclues. L’évolution du nombre de mentions d’une personnalité ou d’un terme sur une longue période de temps est donc à pondérer en fonction du nombre de chaînes concernées par le dépôt légal durant les différentes périodes. Cette mesure reste tout à fait pertinente sur de courtes périodes (1 à 5 ans) non concernées par une extension du dépôt légal et sur de longues périodes avec le filtre “TV Hertzienne”.</p>
			<p>
			Il est également important de comprendre que les rediffusions sont comptabilisées dans notre outil. Ainsi, une chaîne ayant pour habitude de rediffuser les mêmes programmes à de nombreuses reprises aura tendance à être davantage visible dans le "top émissions" ou le "top chaînes".
			</p>
			<h3>Est-il possible d’ajouter des personnalités ?</h3>
			<p>Il est tout à fait possible de nous adresser une requête pour l’ajout d’une personnalité que vous voudriez voir figurer dans la base en utilisant <a data-link="contact" href="contact">le formulaire mis à disposition</a>.
Nous essaierons d’inclure les personnalités les plus demandées dans les plus brefs délais.</p>
			<h3>Avez-vous un partenariat avec l’INA ou les différents médias ?</h3>
			<p>MediaData est une initiative totalement indépendante qui ne dispose d’aucun partenariat avec l’INA ou avec de quelconques médias.</p>
			<h3>Crédits images</h3>
			<p>Les photographies utilisées sur MediaData proviennent toutes de Wikimédia Commons. Pour des raisons techniques, il nous est difficile de mentionner les auteurs de chaque œuvre concernée et nous en sommes sincèrement désolés. Si vous êtes ayant-droit et souhaitez nous contacter, merci de le faire à l’adresse suivante : <a href="mailto:equipe@mediadata.fr">equipe@mediadata.fr</a>. </p>
		</section>
		
		
	</div>
	<footer class="launch">
		<h2 class="all-caps">commencez à rechercher une fiche</h2>
		<p>Lancer l'application Mediadata</p>
		<a href="rechercher" data-link="rechercher" class="button green">Lancer Mediadata</a>
	</footer>
</article>