<article class="comparison">
  <header class="header">
    <div class="grid">
      <div class="unit">
        <div class="sm-unit">
      	  <h1 class="name"><%= person1.person.firstName + ' ' + person1.person.lastName %></h1>
      		<p class="desc"><%= person1.person.description %></p>

      		<% if(person1.person.tag1) { %>
          <ul class="tags">
            <li><i class="icon-label"></i></li>
            <li><%= person1.person.tag1 %>, </li>
            <% if(person1.person.tag2){ %>
            <li><%= person1.person.tag2 %>, </li>
            <% } %>
            <% if(person1.person.tag3){ %>
            <li><%= person1.person.tag3 %>, </li>
            <% } %>
            <% if(person1.person.tag4){ %>
            <li><%= person1.person.tag4 %>, </li>
            <% } %>
            <% if(person1.person.tag5){ %>
            <li><%= person1.person.tag5 %></li>
            <% } %>
          </ul>
          <% } %>
        </div>
      </div><!-- div.unit -->
      <div class="unit">
        <div class="sm-unit">
          <h1 class="name"><%= person2.person.firstName + ' ' + person2.person.lastName %></h1>
          <p class="desc"><%= person2.person.description %></p>

          <% if(person2.person.tag1) { %>
          <ul class="tags">
            <li><i class="icon-label"></i></li>
            <li><%= person2.person.tag1 %>, </li>
            <% if(person2.person.tag2){ %>
            <li><%= person2.person.tag2 %>, </li>
            <% } %>
            <% if(person2.person.tag3){ %>
            <li><%= person2.person.tag3 %>, </li>
            <% } %>
            <% if(person2.person.tag4){ %>
            <li><%= person2.person.tag4 %>, </li>
            <% } %>
            <% if(person2.person.tag5){ %>
            <li><%= person2.person.tag5 %></li>
            <% } %>
          </ul>
          <% } %>
        </div>
      </div><!-- div.unit -->
    </div><!-- div.wrapper -->
  </header><!-- header.header -->
  <section id="filters"></section>
  <div class="grid">
    <section id="timeline">
      <h2>Timeline</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <section class="module timeline"></section>
    </section>
    <section id="programs">
      <h2>Apparences</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="unit left">
        <section class="module top-5 person1"></section><!-- section.module.top-5 -->
        <section class="module clock person1"></section><!-- section.module.clock -->
      </div><!-- div.unit -->
      <div class="unit right">
        <section class="module top-5 person2"></section><!-- section.module.top-5 -->
        <section class="module clock person2"></section><!-- section.module.clock -->
      </div><!-- div.unit -->
    </section>
    <section id="stacked">
      <h2>Stacked</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <section class="module stacked"></section>
    </section>
    <div class="clear"></div>
    <section id="broadcast">Broadcast</section>
    
  </div>
  <footer class="social">
    <h3 class="all-caps">partagez cette comparaison</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    <a href="https://twitter.com/share?text=coucou&url=http://www.mediadata.fr/<%= person1.person.slug %>/<%= person2.person.slug %>&via=mediadatafr" target="_blank" class="button tw twitter-share-button"><i class="icon-twitter"></i>Twitter</a>
    <a target="_blank" href="https://www.facebook.com/dialog/share?app_id=783666605001268&display=popup&href=http://www.mediadata.fr/<%= person1.person.slug %>/<%= person2.person.slug %>&redirect_uri=http://www.mediadata.fr/<%= person1.person.slug %>/<%= person2.person.slug %>" class="button fb"><i class="icon-facebook"></i>Facebook</a>
  </footer>
</article>