<article class="contact">
	<div class="grid">
		<header>
			<h1>Contact</h1>
			<h2 class="all-caps">suggestions, félicitations et offres professionnelles</h2>
			<p>Envoyez-nous un message à <a href="mailto:contact@mediadata.fr">contact@mediadata.fr</a> ou via le formulaire ci-dessous. N’hésitez pas à nous suggérer des ajouts de personnalités.</p>
			
		</header>
		<form>
			<div class="half unit">
				<label for="mail">Votre adresse e-mail</label>
				<input id="mail" value="" />
			</div>
			<div class="half unit">
				<label for="subject">Objet</label>
				<input id="subject" value="" />
			</div>
			<div class="clear"></div>
			<div class="unit">
				<label for="message">Votre message</label>
				<textarea id="message"></textarea>
			</div>
			<button type="submit" class="button green">Envoyer</button>
		</form>
		<section class="team">
			<h2>L'équipe MediaData</h2>
			<ul>
				<li>
					<img src="images/yves.png" alt="Yves Do" />
					<h3>Yves Do
					<span>Product Manager</span></h3>
					<a target="_blank" href=""><i class="icon-linked_in"></i></a>
					<a href="mailto:yves@mediadata.fr"><i class="icon-paperplane"></i></a>
					<a target="_blank" href=""><i class="icon-globe"></i></a>

				</li>
				<li>
					<img src="images/lucas.jpg" alt="Lucas Guarneri" />
					<h3>Lucas Guarneri
					<span>Lead Designer</span></h3>
					<a target="_blank" href="http://www.linkedin.com/pub/lucas-guarneri/63/4a0/32a/"><i class="icon-linked_in"></i></a>
					<a href="mailto:gclucaslp@gmail.com"><i class="icon-paperplane"></i></a>
					<a target="_blank" href="http://www.lucasguarneri.com/"><i class="icon-globe"></i></a>

				</li>
				<li>
					<img src="images/laure.jpg" alt="Laure Boutmy" />
					<h3>Laure Boutmy<span>Creative coder</span></h3>
					<a href="mailto:laure@mediadata.fr"><i class="icon-paperplane"></i></a>
					<a target="_blank" href="http://www.laureboutmy.com"><i class="icon-globe"></i></a>
				</li>
				<li>
					<img src="images/anthony.jpg" alt="Anthony Roux" />
					<h3>Anthony Roux<span>Back-end Developer</span></h3>
					<a href="mailto:anthony@mediadata.fr"><i class="icon-paperplane"></i></a>

				</li>
				<li>
					<img src="images/thomas.jpg" alt="Thomas Iturralde" />
					<h3>Thomas Iturralde<span>Front-end rockstar</span></h3>
					<a target="_blank" href="https://www.linkedin.com/pub/thomas-iturralde/5a/608/675"><i class="icon-linked_in"></i></a>
					<a href="mailto:thomas.iturralde@gmail.com"><i class="icon-paperplane"></i></a>
					<a target="_blank" href="http://thomasiturralde.fr"><i class="icon-globe"></i></a>
					<a target="_blank" href="https://twitter.com/Laink"><i class="icon-twitter"></i></a>
				</li>
				<li>
					<img src="images/remy.jpg" alt="Rémy Dragyn" />
					<h3>Rémy Dragyn<span>Front-end developer</span></h3>
					<a target="_blank" href="https://www.linkedin.com/in/remydragyn"><i class="icon-linked_in"></i></a>
					<a href="mailto:remy@mediadata.fr"><i class="icon-paperplane"></i></a>
					<a target="_blank" href=""><i class="icon-globe"></i></a>

				</li>
			</ul>
		</section>
	</div>
	<footer class="launch">
		<h2 class="all-caps">commencez à rechercher une fiche</h2>
		<p>Commencez à rechercher une fiche ou lorem ipsum dolor sit amet rosa doloris ipsum.</p>
		<a href="rechercher" data-link="rechercher" class="button green">Lancer Mediadata</a>
	</footer>
</article>