<article class="contact">
	<div class="grid">
		<header>
			<h1>Contact</h1>
			<h2 class="all-caps">suggestions, félicitations et offres professionnelles</h2>
			<p>Envoyez-nous un message à <a href="mailto:contact@mediadata.fr">contact@mediadata.fr</a> ou via le formulaire ci-dessous. N’hésitez pas à nous suggérer des ajouts de personnalités.</p>
			
		</header>
		<section class="team">
			<h2>L'équipe MediaData</h2>
			<ul>
				<li>
					<h3>Yves Do
					<span>Product Manager</span></h3>
					<a target="_blank" href=""><i class="icon-linked_in"></i></a>
					<a href="mailto:yves@mediadata.fr"><i class="icon-paperplane"></i></a>
					<a target="_blank" href=""><i class="icon-globe"></i></a>

				</li>
				<li>
					<h3>Lucas Guarneri
					<span>Lead Designer</span></h3>
					<a target="_blank" href=""><i class="icon-linked_in"></i></a>
					<a href="mailto:"><i class="icon-paperplane"></i></a>
					<a target="_blank" href=""><i class="icon-globe"></i></a>

				</li>
				<li>
					<img src="images/laure.jpg" alt="Laure Boutmy" />
					<h3>Laure Boutmy<span>UX Developer</span></h3>
					<a href="mailto:laure@mediadata.fr"><i class="icon-paperplane"></i></a>
					<a target="_blank" href="http://www.laureboutmy.com"><i class="icon-globe"></i></a>
				</li>
				<li>
					<h3>Anthony Roux<span>Back-end Developer</span></h3>
					<a href="mailto:anthony@mediadata.fr"><i class="icon-paperplane"></i></a>

				</li>
				<li>
					<h3>Thomas Iturralde<span>Front-end rockstar</span></h3>
					<a target="_blank" href=""><i class="icon-linked_in"></i></a>
					<a href="mailto:"><i class="icon-paperplane"></i></a>
					<a target="_blank" href=""><i class="icon-globe"></i></a>

				</li>
				<li>
					<img src="images/remy.jpg" alt="Rémy Dragyn" />
					<h3>Rémy Dragyn<span>Front-end developer</span></h3>
					<a target="_blank" href="https://www.linkedin.com/in/remydragyn"><i class="icon-linked_in"></i></a>
					<a href="mailto:remy@mediadata.fr"><i class="icon-paperplane"></i></a>
					<a target="_blank" href=""><i class="icon-globe"></i></a>

				</li>
			</ul>
		</section>
	</div>
</article>