
<ul class="grid">
	
	<li class="details unit quarter">
		<label for="details">Détails</label>
		<select id="details" name="details">
			<option value="">Mentions</option>
		</select>
	</li>
	<li class="medias unit quarter">
		<label for="medias">Médias</label>
		<select id="medias" name="medias">
			<option value="">Radio, TNT</option>
			<option value="">Radio, TNrezrei</option>
			<option value="">Radio, TNrezrei</option>
			<option value="">Radio, TNrezrei</option>
			<option value="">Radio, TNrezrei</option>
			<option value="">Radio, TNrezrei</option>

		</select>
	</li>
	<li class="period unit">
		<label for="period">Période</label>
		<div><input type="text" id="period" name="period" /></div>
	</li>
</ul>

