
<ul class="grid">
	
	<li class="details unit quarter">
		<label for="details">Détails</label>
		<select id="details" name="details">
			<% _.each(modes, function(mode){ %>
			<option value="<%= mode.modeAPI %>"><%= mode.modeDisplayed %></option>
			<% }) %>
		</select>
	</li>
	<li class="medias unit quarter">
		<label for="medias">Médias</label>
		<select id="medias" name="medias">
			<% _.each(supports, function(support){ %>
			<option value="<%= support.supportAPI %>"><%= support.supportDisplayed %></option>
			<% }) %>
		</select>
	</li>
	<li class="period unit">
		<label for="period">Période</label>
		<div><input type="text" id="period" name="period" /></div>
	</li>
</ul>

