<article class="person">
  <header class="header">
    <div class="sm-unit">
  	  <h1 class="name"><%= person.firstName + ' ' + person.lastName %></h1>
  		<p class="desc"><%= person.description %></p>

  		<% if(person.tag1) { %>
  		<ul class="tags">
        <li><i class="icon-label"></i></li>
        <li><%= person.tag1 %>, </li>
        <% if(person.tag2){ %>
        <li><%= person.tag2 %>, </li>
        <% } %>
        <% if(person.tag3){ %>
        <li><%= person.tag3 %>, </li>
        <% } %>
        <% if(person.tag4){ %>
        <li><%= person.tag4 %>, </li>
        <% } %>
        <% if(person.tag5){ %>
        <li><%= person.tag5 %></li>
        <% } %>
  		</ul>
  		<% } %>
    </div>
  </header><!-- header.header -->
  <section id="filters"></section>
  <div class="grid">
    <section id="timeline">
      <h2>Timeline graph</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <section class="module timeline"></section>
    </section>
    <section id="programs">
      <h2>Apparences</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="unit left">
        <section class="module top-5"></section><!-- section.module.top-5 -->
      </div><!-- div.unit -->
      <div class="unit right">
        <section class="module clock"></section><!-- section.module.clock --> 
      </div><!-- div.unit -->
    </section>
    <div class="clear"></div>
    <section id="bar">
      <h2>Bar graph</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <section class="module bar"></section>
    </section>
    <section id="broadcast">Broadcast</section>
    <section id="x-with-y">
      <h2>X vu avec Y</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <section class="module x-with-y"></section>
    </section>
  </div>
  <footer class="social">
    <h3 class="all-caps">partagez cette fiche</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
    <a href="https://twitter.com/share?text=coucou&url=http://www.mediadata.fr/<%= person.slug %>&via=mediadatafr" target="_blank" class="button tw"><i class="icon-twitter"></i>Twitter</a>
    <a target="_blank" href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://www.mediadata.fr/<%= person.slug %>&redirect_uri=http://www.mediadata.fr/<%= person.slug %>" class="button fb"><i class="icon-facebook"></i>Facebook</a>
  </footer>
</article>