<article class="person">
  <header class="header">
    <div class="sm-unit">
  	  <h1 class="name"><%= person.firstName + ' ' + person.lastName %></h1>
  		<p class="desc"><%= person.description %><%= person.description %></p>

  		<% if(person.tag1) { %>
  		<ul class="tags">
        <li><i class="icon-label"></i></li>
        <li><%= person.tag1 %>, </li>
        <% if(person.tag2){ %>
        <li><%= person.tag2 %>, </li>
        <% } %>
        <% if(person.tag3){ %>
        <li><%= person.tag3 %>, </li>
        <% } %>
        <% if(person.tag4){ %>
        <li><%= person.tag4 %>, </li>
        <% } %>
        <% if(person.tag5){ %>
        <li><%= person.tag5 %></li>
        <% } %>
  		</ul>
  		<% } %>
    </div>
  </header><!-- header.header -->
  <section id="filters"></section>
  <div class="grid">
    <section id="timeline">
      <h2>Timeline graph</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <section class="module timeline"></section>
    </section>
    <section id="programs">
      <h2>Apparences</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      <div class="unit left">
        <section class="module top-5"></section><!-- section.module.top-5 -->
      </div><!-- div.unit -->
      <div class="unit right">
        
      </div><!-- div.unit -->
    </section>
    <div class="clear"></div>
    <section id="broadcast">Broadcast</section>
  </div>
</article>