<article class="person">
  <header class="header">
    <div class="sm-unit">
  	  <h1 class="name"><%= person.firstName + ' ' + person.lastName %></h1>
  		<p class="desc"><%= person.description %></p>

  		<% if(person.tag1) { %>
  		<ul class="tags">
        <li><i class="icon-label"></i></li>
        <li><%= person.tag1 %>, </li>
        <% if(person.tag2){ %>
        <li><%= person.tag2 %>, </li>
        <% } %>
        <% if(person.tag3){ %>
        <li><%= person.tag3 %>, </li>
        <% } %>
        <% if(person.tag4){ %>
        <li><%= person.tag4 %>, </li>
        <% } %>
        <% if(person.tag5){ %>
        <li><%= person.tag5 %></li>
        <% } %>
  		</ul>
  		<% } %>
    </div>
  </header><!-- header.header -->
  <section id="filters"></section>
  <div class="grid">
    <section id="timeline">
      <h2 class="evolution">Chronologie des mentions</h2>
      <p>Gardez en tête que si les notices de la TV hertzienne et des radios publiques sont collectées depuis 1995, celles des radios privées ne le sont que depuis 2002. Quant à la TNT, arrivée en 2005, elle est aussi susceptible de créer une évolution artificielle. </p>
      <section class="module timeline"></section>
    </section>
    <section id="programs">
      
      <div class="unit left">
        <h2>Top émissions</h2>
        <p class="top-emissions">Découvrez les 5 émissions qui ont le plus parlé de <%= person.name %>. Rediffusions comptabilisées. En cas d'émissions diffusées sur plusieurs chaînes, le logo de la chaîne d'origine s'affiche.</p>
        <section class="module top-5"></section><!-- section.module.top-5 -->
      </div><!-- div.unit -->
      <div class="unit right">
        <h2 class="horaires">Mentions horaires et journalières</h2>
        <p class="horaires">Quand parle-t-on le plus ou le moins de <%= person.name %> ? Survolez les barres circulaires pour découvrir la répartition horaire. Utilisez les barres verticales pour explorer la répartition journalière. </p>
        <section class="module clock"></section><!-- section.module.clock --> 
      </div><!-- div.unit -->
    </section>
    <div class="clear"></div>
    <section id="bar">
      <h2>Top chaînes</h2>
      <p>Quelles chaînes parlent le plus de <%= person.name %> ? Survolez chaque barre pour afficher le nombre de mentions par chaîne ou station. </p>
      <section class="module bar"></section>
    </section>
    <section id="x-with-y">
      <h2 class="avec">On parle souvent <% if(person.gender=='f') { %> d'elle <% } else if (person.gender=='m') { %> de lui <% } %> avec...</h2>
      <p class="avec">Découvrez les cinq personnes les plus souvent mentionnées dans les mêmes programmes que <%= person.firstName + ' ' + person.lastName %>.</p>
      <section class="module x-with-y"></section>
    </section>
  </div>
  <footer class="social">
    <h3 class="all-caps">partagez cette fiche</h3>
    <p>Faites profitez votre réseau de vos trouvailles !</p>
    <% if(person.twitter) { %>
    <a href="https://twitter.com/share?text=J'ai analysé l'exposition médiatique de @<%= person.twitter %> sur&url=http://mediadata.fr/<%= person.slug %>&via=MediaDatafr" target="_blank" class="button tw">
    <% } else { %>
    <a href="https://twitter.com/share?text=J'ai analysé l'exposition médiatique de <%= person.name %> sur&url=http://mediadata.fr/<%= person.slug %>&via=MediaDatafr" target="_blank" class="button tw">
    <% } %>
    <i class="icon-twitter"></i>Twitter</a>
    <a target="_blank" href="https://www.facebook.com/dialog/share?app_id=1420699924882633&display=popup&href=http://mediadata.fr/<%= person.slug %>&redirect_uri=http://mediadata.fr/<%= person.slug %>" class="button fb"><i class="icon-facebook"></i>Facebook</a>
  </footer>
</article>