
<div class="grid">
  <section class="unit person visible" <% if(topic1) { %> data-slug="<%= topic1.slug %>"<% } %>>
    <div class="name">
      <h1>
        <% if(topic1) { %>
          <div class="img"><img src="<%= topic1.picture %>" /></div> <span class="name"><%= topic1.name %></span>
        <% } else { print('Vous devez choisir un sujet') } %>
        <% if(topic1) { %> <span class="role">- <%= topic1.role %></span> <% } %></h1>
      <button class="delete"><i class="icon-cross_mark"></i></button>
      <button class="edit"><i class="icon-magnifying"></i>Modifier votre recherche</button>
      <form class="search">
        <label for="name-1"><i class="icon-magnifying_plus"></i>Rechercher :</label>
        <input id="name-1" type="text" autocomplete="off" placeholder="Entrez un nom" />
        <ul class="topics"></ul>
      </form>
    </div>
  </section>
  <section class="unit person"<% if(topic2) { %> data-slug="<%= topic2.slug %>"<% } %>>
    <div class="name">
      <h1>
        <% if(topic2) { %>
          <div class="img"><img src="<%= topic2.picture %>" /></div> <span class="name"><%= topic2.name %></span>
        <% } else { print('Vous devez choisir un sujet') } %>
        <% if(topic2) { %> <span class="role">- <%= topic1.role %></span> <% } %></h1>
      <button class="delete"><i class="icon-cross_mark"></i></button>
      <button class="edit"><i class="icon-magnifying"></i>Modifier votre recherche</button>
      <form class="search">
        <label for="name-2"><i class="icon-magnifying_plus"></i>Rechercher :</label>
        <input id="name-2" type="text" autocomplete="off" placeholder="Entrez un nom" />
        <ul class="topics"></ul>
      </form>
    </div>
  </section>

  <section class="unit" id="compare">
    <button class="compare"><i class="icon-users"></i>Comparer</button>
  </div>
</div>