<article class="search">
  <div class="grid">
    <h1 class="default-icon"><i class="icon-chart"></i> Rechercher une fiche</h1>
    <p>Pour commencer, utilisez la barre de recherche pour trouver une personnalité. Vous pouvez aussi découvrir une fiche parmi la sélection ci-dessous.</p>
    <ul>
    
    <% _.each(featured, function(person, i){ %>
      <li <% if ((i+1)%5 == 0 && i != 0) { %> class="no-margin" <% } %>>
        <a href="<%= person.slug %>" data-link="<%= person.slug %>">
          <img src="<%= person.picture %>" alt="<%= person.name %>" />
          <div>
            <h4><%= person.name %></h4>
            <p><% if(person.role.length > 20) { print(person.role.slice(0, 20) + '...') } else { print(person.role) } %></p>
          </div>
        </a>
      </li>
    <% }) %> 
    </ul>

  
</article>