
  <h1 class="person visible">Machine Machin <span>- Journaliste</span>
    <button class="delete"><i class="icon-cross_mark"></i></button>
    <button class="edit"><i class="icon-magnifying"></i>Modifier votre recherche</button>
    <form class="search">
      <input type="text" value="Boum" />
    </form>
  </h1>
  <h1 class="person other-person">Yann Barthès - Journaliste
    <button class="delete"><i class="icon-cross_mark"></i></button>
    <button class="edit">Modifier votre recherche</button>
    <form class="search">
      <input type="text" value="Boum" />
    </form>
  </h1>
  <button class="compare visible"><i class="icon-users"></i>Comparer</button>
